---
layout: default
title: how it works
class: how_it_works
permalink: /how_it_works
---

<!-- Content here -->
<!-- HEADER -->
<header class="works">
	<div class="container v-align works-content text-center">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<h1 class="text-white more-margin-top">
          {{site.data.works.header.title.white}} <br>
					<span class="text-secondary-lighter">{{site.data.works.header.title.light_blue}}</span>
        </h1>
				<div class="row">
          <!-- nº 1 -->
          <div class="col-lg-3 col-md-6 col-sm-12 temp-zero-p-right">
            <div class="bg-number1 mobile-margin-top">
              <p class="lg bg_machines_number uppercase">
                {{site.data.works.header.one_text}}
              </p>
            </div>
          </div>
          <div class="col-lg-1 zero-padding tablet-img-hide">
            <div class="bg-bar padd-left60 more-10-padding-top
                        mobile-img-hide"></div>
            <hr class="web-img-hide" style="width: 40%;">
          </div>
          <!-- nº 2 -->
          <div class="col-lg-4 col-md-6 col-sm-12 temp-zero-p-left
                      temp-zero-p-right tablet-img-hide">
            <div class="bg-number2 mobile-margin-top">
              <p class="lg bg_machines_number uppercase">
                {{site.data.works.header.two_text}}
              </p>
            </div>
          </div>
          <!-- Switch to nº3 on tablet -->
          <div class="col-md-6 temp-zero-p-left web-ls-img-hide mobile-img-hide">
            <div class="bg-number3 mobile-margin-top">
              <p class="lg bg_machines_number uppercase">
                {{site.data.works.header.tree_text}}
              </p>
            </div>
          </div>

          <div class="col-lg-1 tablet-img-hide">
            <div class="bg-bar more-10-padding-top
                        mobile-img-hide tablet-img-hide"></div>
            <hr class="web-img-hide" style="width: 40%;">
          </div>
          <!-- nº 3 -->
          <div class="col-lg-3 col-md-12 col-sm-12 temp-zero-p-left tablet-img-hide">
            <div class="bg-number3 mobile-margin-top">
              <p class="lg bg_machines_number uppercase">
                {{site.data.works.header.tree_text}}
              </p>
            </div>
          </div>
          <!-- Switch to nº2 on tablet -->
          <div class="col-md-12 temp-zero-p-left temp-zero-p-right
                      web-ls-img-hide mobile-img-hide">
            <div class="bg-number2 mobile-margin-top">
              <p class="lg bg_machines_number uppercase">
                {{site.data.works.header.two_text}}
              </p>
            </div>
          </div>
        </div>
        <!-- <a href="#" class="btn btn-primary-no-arrow">Learn More</a> -->
      </div>
		</div>
	</div>

	<div class="container scroll container_width0">
    <div>
      <button class="scroll-to" data-scroll=".section-home-1"></button>
    </div>
  </div>
</header>


<!-- SECTION 1 -->
<section class="section-home-1">
  <div class="container">
    {% include logo_swiper.html %}
  </div>
  <!-- STEP 1-->
  <div class="row more2-padding-top more-padding-bottom animate slide-in-from-left">
    <div class="col-md-6">
      <img src="{{site.data.works.section1.step1.image}}" class="mobile-work-section1 fit-image-corners">
    </div>
    <div class="col-md-6">
      <div class="row more-margin-top">
        <div class="col-md-12 less-25-margin-bottom">
          <p class="text-primary-blue text-center-mobile
                    font-size-18 more-10-padding-bottom uppercase">
            {{site.data.works.section1.step1.top_title}}</p>
        </div>
        <div class="col-md-12">
          <h3 class="text-secondary-darker text-center-mobile font-size-42">
            {{site.data.works.section1.step1.title}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center-mobile font-size-20">
            {{site.data.works.section1.step1.text}}
          </p>
        </div>
        <div class="col-md-12">
          <a href="{{site.data.works.section1.step1.button.link}}"
              class="btn btn-secondary-dark center-mobile more-25-margin-top">{{site.data.works.section1.step1.button.text}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- STEP 2  web-ls-img-hide-->
  <!-- web -->
  <div class="row more-padding-bottom mobile-img-hide animate slide-in-from-top">
    <div class="col-md-6 zero-padding-right">
      <div class=" more-margin-top">
        <div class="col-md-12 less-25-margin-bottom zero-padding-right">
          <p class="text-primary-blue text-center-mobile
                    font-size-18 more-10-padding-bottom uppercase">
            {{site.data.works.section1.step2.top_title}}</p>
        </div>
        <div class="col-md-12 zero-padding-right">
          <h3 class="text-secondary-darker text-center-mobile font-size-42">
            {{site.data.works.section1.step2.title}}</h3>
        </div>
      </div>
      <div class="">
        <div class="col-md-12 zero-padding-right">
          <p class="text-center-mobile font-size-20">
            {{site.data.works.section1.step2.text}}
          </p>
        </div>
        <div class="col-md-12 zero-padding-right">
          <a href="{{site.data.works.section1.step2.button.link}}"
              class="btn btn-secondary-dark center-mobile more-25-margin-top">{{site.data.works.section1.step2.button.text}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 zero-padding-right">
      <img src="{{site.data.works.section1.step2.image}}" class="fit-image-corners">
    </div>
  </div>
  <!-- mobile / tablet -->
  <div class="row more-padding-bottom tablet-img-hide web-ls-img-hide animate slide-in-from-top">
    <div class="col-md-6">
      <img src="{{site.data.works.section1.step2.image}}" class="mobile-work-section1 fit-image-corners">
    </div>
    <div class="col-md-6">
      <div class="row more-margin-top">
        <div class="col-md-12 less-25-margin-bottom">
          <p class="text-primary-blue text-center-mobile
                    font-size-18 more-10-padding-bottom uppercase">
            {{site.data.works.section1.step2.top_title}}</p>
        </div>
        <div class="col-md-12">
          <h3 class="text-secondary-darker text-center-mobile font-size-42">
            {{site.data.works.section1.step2.title}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center-mobile font-size-20">
            {{site.data.works.section1.step2.text}}
          </p>
        </div>
        <div class="col-md-12">
          <a href="{{site.data.works.section1.step2.button.link}}"
              class="btn btn-secondary-dark center-mobile more-25-margin-top">{{site.data.works.section1.step2.button.text}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- STEP 3 -->
  <div class="row more-padding-bottom animate slide-in-from-left">
    <div class="col-md-6">
      <img src="{{site.data.works.section1.step3.image}}" class="mobile-work-section1 fit-image-corners">
    </div>
    <div class="col-md-6">
      <div class="row more-margin-top">
        <div class="col-md-12 less-25-margin-bottom">
          <p class="text-primary-blue text-center-mobile
                    font-size-18 more-10-padding-bottom uppercase">
            {{site.data.works.section1.step3.top_title}}</p>
        </div>
        <div class="col-md-12">
          <h3 class="text-secondary-darker text-center-mobile font-size-42">
            {{site.data.works.section1.step3.title}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center-mobile font-size-20">
            {{site.data.works.section1.step3.text}}
          </p>
        </div>
        <div class="col-md-12">
          <a href="{{site.data.works.section1.step3.button.link}}"
              class="btn btn-secondary-dark center-mobile more-25-margin-top">{{site.data.works.section1.step3.button.text}}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end SECTION 1 -->

<!-- SECTION 2 -->
{% include section_blue_boxes.html %}
<!-- end SECTION 2 -->

<!-- SECTION 3 (weird design worry-->
<section class="section-home-3 zero-padding more2-margin-bottom more2-margin-top text-center">
  <!-- title -->
  <div class="row animate slide-in-from-left">
    <div class="col-md-12 col-lg-12">
      <h2 class="text-secondary-darker text-center-mobile">
        {{site.data.works.section3.title}}
      </h2>
    </div>
  </div>
  <!-- stages -->

    <!-- stage1 -->
    <div class="row animate slide-in-from-left">
      <div class="col-md-12 col-lg-12">
        <div class="stage_row more-margin-top">
          <p class="font-size-14 zero-margin-bottom text-primary-blue uppercase">
            {{site.data.works.section3.stage01.above_title}}
          </p>
          <h3 class="h5 primary text-secondary-darker font-size-36 zero-margin-bottom
                      uppercase">
            {{site.data.works.section3.stage01.title}}
          </h3>
          <p class="zero-margin-bottom">
            {{site.data.works.section3.stage01.subtitle}}
          </p>
        </div>
      </div>
    </div>
    <!-- ball / line -->
    <div class="row animate slide-in-from-top">
      <div class="col-md-12 col-lg-12">
        <div class="stage_row more-25-margin-top">
          <hr class="separator">
          <hr class="separator-ball">
          <div class="more-60-margin-top invisible-area">.</div>
        </div>
      </div>
    </div>
    <div class="bg-coffee-tasting animate slide-in-from-top">
    <!-- stage2 -->
    <div class="row animate slide-in-from-left">
      <div class="col-md-12 col-lg-12">
        <div class="stage_row ">
          <p class="font-size-14 zero-margin-bottom text-primary-blue uppercase">
            {{site.data.works.section3.stage02.above_title}}
          </p>
          <h3 class="h5 primary text-secondary-darker font-size-36 zero-margin-bottom
                      uppercase">
            {{site.data.works.section3.stage02.title}}
          </h3>
          <p class="more-10-margin-bottom">
            {{site.data.works.section3.stage02.subtitle}}
          </p>
        </div>
      </div>
    </div>
    <!-- ball / line -->
    <div class="row animate slide-in-from-top">
      <div class="col-md-12 col-lg-12">
        <div class="stage_row more-25-margin-top">
          <hr class="separator">
          <hr class="separator-ball">
          <div class="more-60-margin-top invisible-area">.</div>
        </div>
      </div>
    </div>
    <!-- stage3 -->
    <div class="row animate slide-in-from-left">
      <div class="col-md-12 col-lg-12">
        <div class="stage_row more-25-margin-top">
          <p class="font-size-14 zero-margin-bottom text-primary-blue uppercase">
            {{site.data.works.section3.stage03.above_title}}
          </p>
          <h3 class="h5 primary text-secondary-darker font-size-36 zero-margin-bottom
                      uppercase">
            {{site.data.works.section3.stage03.title}}
          </h3>
          <p class="more-10-margin-bottom">
            {{site.data.works.section3.stage03.subtitle}}
          </p>
        </div>
      </div>
    </div>
    <!-- ball / line -->
    <div class="row animate slide-in-from-top">
      <div class="col-md-12 col-lg-12">
        <div class="stage_row more-25-margin-top">
          <hr class="separator">
          <hr class="separator-ball">
          <div class="more-60-margin-top invisible-area">.</div>
        </div>
      </div>
    </div>
    <!-- stage4 -->
    <div class="row animate slide-in-from-left">
      <div class="col-md-12 col-lg-12">
        <div class="stage_row more-25-margin-top">
          <p class="font-size-14 zero-margin-bottom text-primary-blue uppercase">
            {{site.data.works.section3.stage04.above_title}}
          </p>
          <h3 class="h5 primary text-secondary-darker font-size-36 zero-margin-bottom
                      uppercase">
            {{site.data.works.section3.stage04.title}}
          </h3>
          <p class="more-10-margin-bottom">
            {{site.data.works.section3.stage04.subtitle}}
        </div>
      </div>
    </div>
    </div>
    <!-- ball / line -->
    <div class="row animate slide-in-from-top">
      <div class="col-md-12 col-lg-12">
        <div class="stage_row more-25-margin-top">
          <hr class="separator">
          <hr class="separator-ball">
          <div class="more-60-margin-top invisible-area">.</div>
        </div>
      </div>
    </div>
    <!-- stage5 -->
    <div class="row animate slide-in-from-left">
      <div class="col-md-12 col-lg-12">
        <div class="stage_row more-25-margin-top">
          <p class="font-size-14 zero-margin-bottom text-primary-blue uppercase">
            {{site.data.works.section3.stage05.above_title}}
          </p>
          <h3 class="h5 primary text-secondary-darker font-size-36 zero-margin-bottom
                      uppercase">
            {{site.data.works.section3.stage05.title}}
          </h3>
          <p class="more-10-margin-bottom">
            {{site.data.works.section3.stage05.subtitle}}
          </p>
        </div>
      </div>
    </div>
    <!-- btn -->
    <div class="row animate slide-in-from-top">
      <div class="col-md-12 content-padd-10">
        <div class="text-center more-25-margin-bottom more-margin-top">
          <a href="{{site.data.works.section3.button.link}}" class="btn btn-primary-no-arrow">{{site.data.works.section3.button.text}}</a>
        </div>
      </div>
    </div>
  <!-- </div> -->
</section>
<!-- end SECTION 3-->

<!-- SECTION 4 -->
{% include section_swiper_orange.html %}
<!-- end SECTION 4-->

<!-- SECTION 5 -->
{% include section_blog_boxes.html %}
<!-- end SECTION 5-->

<!-- SECTION 6 -->
<section class="section-home-7 bg-pattern-dark line-top more-margin-top">
  <div class="container container-sm">

    <div class="row m-lg">
      <div class="col animate slide-in-from-top">
        <h1 class="text-white text-center">
          {{site.data.index.section7.title.top}} <br class="d-none d-lg-block">
          <span class="text-secondary-lighter">{{site.data.index.section7.title.bottom}}</span>
        </h1>
        <p class="text-white text-center">
          <b>
            To get started, please email us on <a class="link-secondary-lighter"
            href="{{site.data.general_info.email.link}}">{{site.data.general_info.email.name}}</a>
            or call us on <br class="d-none d-lg-block"><a href="{{site.data.general_info.phone.link}}"
            class="link-secondary-lighter">{{site.data.general_info.phone.number}}</a>.
            Alternatively use the contact form below:
          </b>
        </p>
      </div>
    </div>

		<div class="row">
        <div class="col animate slide-in-from-top">
          <form>
            <div class="form-group">
              <input id ="full_name" type="text" class="form-control" placeholder="Full Name *">
            </div>

            <div class="row md-gutter">
              <div class="col-md-6">
                <div class="form-group">
                  <input id ="email" type="text" class="form-control" placeholder="Email *">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input id ="phone_nr" type="text" class="form-control" placeholder="Phone No. *">
                </div>
              </div>
            </div>

            <div class="row md-gutter">
              <div class="col-md-6">
                <div class="form-group">
                    <input id ="company_name" type="text" class="form-control" placeholder="Company *">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select id ="nr_of_staff" class="form-control">
                    <option  disabled selected value>No. of Staff</option>
                  	<option>1-10</option>
                    <option>11-50</option>
                    <option>51-100</option>
                    <option>101-250</option>
                    <option>250+</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row md-gutter">
              <div class="col-lg-12">
                <div class="form-group">
                    <textarea id ="how_can_we_help" class="form-control" placeholder="How can we help you?"></textarea>
                </div>
              </div>
            </div>

            <div class="row md-gutter">
              <div class="col-md-6">
                <div class="form-group m-top">
                  <div class="checkbox-control">
                    <input type="checkbox"  value="1" id="checkbox-1" name="" >
                    <label for="checkbox-1">
                      <span>I would like a <b>free coffee tasting</b></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <a id="submit_button" class="btn btn-primary full-width center-mobile">Treat your team</a>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</section>
<!-- end SECTION 6 -->