---
layout: default
title: Machines
class: machines
permalink: /machines
---

<!-- Content here -->
<!-- HEADER -->
<header class="machines">
  <div class="container v-align machines-content text-center">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-white more-margin-top">
          {{site.data.machines.header.title.white}} <br>
          <span class="text-secondary-lighter">{{site.data.machines.header.title.light_blue}}</span>
        </h1>
        <p class="text-white bold">
          {{site.data.machines.header.subtitle}}
        </p>
        <div class="row">
          <div class="col-md-5 col-sm-12 pricing-info-right">
            <p class="lg bold text-orange no-margin-bottom font-size-18">
              Call us now {{site.data.general_info.phone.number}}
            </p>
          </div>
          <div class="col-md-2 col-sm-12 text-light-gray mobile-remove">
            <hr class="separator no_margin" style="background-color: #004249; opacity: 0.6;">
          </div>
          <div class="col-md-5 col-sm-12 pricing-info-left">
            <p class="lg bold text-orange no-margin-bottom font-size-18">
                {{site.data.general_info.email.name}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container scroll container_width0">
    <div>
      <button class="scroll-to" data-scroll=".section-home-1"></button>
    </div>
  </div>
</header>

<!-- SECTION 1 -->
<section class="section-home-1 more-margin-bottom">
  <div class="container">
    {% include logo_swiper.html %}

    <div class="row text-left">
      <!-- EXPRESSO -->
      <div class="col-sm-6 col-lg-4 content-padd-10 more-10-margin-top animate slide-in-from-left">
        <div class="item-img-alt same-height">
          <div class="img">
            <img src="{{site.data.machines.section1.machine1.image}}" class="img-fluid">
          </div>
          <div class="content">
            <h4 class="h4 text-secondary-darker bottom-border machine-title uppercase">
              {{site.data.machines.section1.machine1.title}}</h4>
            <div class="less-spacing more-20-margin-bottom more-20-padding-top">
              <p class="font-size-16"><b class="text-secondary-dark font-size-16">
                  {{site.data.machines.section1.machine1.top.bold}}</b>
                  {{site.data.machines.section1.machine1.top.text}}
              </p>
            </div>
            <br>
            <div class="less-spacing-list">
              <b class="font-size-16 zero-margin-bottom text-secondary-dark">
                {{site.data.machines.section1.machine1.middle.subtitle}}</b>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine1.middle.txt1}}</p>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine1.middle.txt2}}</p>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine1.middle.txt3}}</p>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine1.middle.txt4}}</p>
            </div>
            <br>
            <div class="less-spacing-list">
              <b class="font-size-16 zero-margin-bottom text-secondary-dark">
                {{site.data.machines.section1.machine1.bottom.subtitle}}</b>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine1.bottom.txt1}}</p>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine1.bottom.txt2}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- FILTER -->
      <div class="col-sm-6 col-lg-4 content-padd-10 more-10-margin-top animate slide-in-from-top">
        <div class="item-img-alt same-height">
          <div class="img">
            <img src="{{site.data.machines.section1.machine2.image}}" class="img-fluid">
          </div>
            <div class="content">
              <h4 class="h4 text-secondary-darker bottom-border machine-title uppercase">
                {{site.data.machines.section1.machine2.title}}</h4>
              <div class="less-spacing more-20-margin-bottom more-20-padding-top">
                <p class="font-size-16"><b class="text-secondary-dark font-size-16">
                  {{site.data.machines.section1.machine2.top.bold}}</b>
                  {{site.data.machines.section1.machine2.top.text}}</p>
              </div>
              <br>
              <div class="less-spacing-list">
                <b class="font-size-16 zero-margin-bottom text-secondary-dark">
                  {{site.data.machines.section1.machine2.middle.subtitle}}</b>
                <p class="font-size-16 zero-margin-bottom">
                  - {{site.data.machines.section1.machine2.middle.txt1}}</p>
                <p class="font-size-16 zero-margin-bottom">
                  - {{site.data.machines.section1.machine2.middle.txt2}}</p>
                <p class="font-size-16 zero-margin-bottom">
                  - {{site.data.machines.section1.machine2.middle.txt3}}</p>
                <p class="font-size-16 zero-margin-bottom">
                  - {{site.data.machines.section1.machine2.middle.txt4}}</p>
                <p class="font-size-16 zero-margin-bottom">
                  - {{site.data.machines.section1.machine2.middle.txt5}}</p>
              </div>
              <br>
              <div class="less-spacing-list">
                <b class="font-size-16 zero-margin-bottom text-secondary-dark">
                    {{site.data.machines.section1.machine2.bottom.subtitle}}</b>
                <p class="font-size-16 zero-margin-bottom">
                  - {{site.data.machines.section1.machine2.bottom.txt1}}</p>
                <p class="font-size-16 zero-margin-bottom">
                  - {{site.data.machines.section1.machine2.bottom.txt2}}</p>
              </div>
            </div>
        </div>
      </div>
      <!-- EXPRESSO / FILTER -->
      <div class="col-sm-6 col-lg-4 content-padd-10 more-10-margin-top animate slide-in-from-left">
        <div class="item-img-alt same-height">
          <div class="img">
            <img src="{{site.data.machines.section1.machine3.image}}" class="img-fluid">
          </div>
          <div class="content">
            <h4 class="h4 text-secondary-darker bottom-border machine-title uppercase">
                {{site.data.machines.section1.machine3.title}}</h4>
            <div class="less-spacing more-20-margin-bottom more-20-padding-top">
              <p class="font-size-16"><b class="text-secondary-dark font-size-16">
                {{site.data.machines.section1.machine3.top.bold}}</b>
                {{site.data.machines.section1.machine3.top.text}}</p>
            </div>
            <br>
            <div class="less-spacing-list">
              <b class="font-size-16 zero-margin-bottom text-secondary-dark">
                {{site.data.machines.section1.machine3.middle.subtitle}}</b>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine3.middle.txt1}}</p>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine3.middle.txt2}}</p>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine3.middle.txt3}}</p>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine3.middle.txt4}}</p>
            </div>
            <br>
            <div class="less-spacing-list">
              <b class="font-size-16 zero-margin-bottom text-secondary-dark">
                {{site.data.machines.section1.machine3.bottom.subtitle}}</b>
              <p class="font-size-16 zero-margin-bottom">
                - {{site.data.machines.section1.machine3.bottom.txt1}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row animate slide-in-from-top">
      <div class="col-md-12 text-center more-margin-top">
        <button data-scroll="{{site.data.machines.section1.button.link}}" 
          class="btn btn-primary-no-arrow-r center-mobile scroll-to">
          {{site.data.machines.section1.button.text}}
      </button>
      </div>
    </div>

  </div>
</section>
<!-- END section 1 -->

<!-- SECTION 2 -->
<section class="section-home-3 bg-free-office-coffee-tasting">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-8">
          <h1 class="text-orange">
            {{site.data.machines.section2.title}}
          </h1>
          <p class="text-white bold">{{site.data.machines.section2.text}}</p>
        </div>
        <div class="col-sm-2 col-lg-4">
          <button data-scroll="{{site.data.machines.section2.button.link}}" 
            class="btn btn-primary-only-arrow scroll-to"></button>
        </div>
      </div>
    </div>
</section>
<!-- end SECTION 2 -->

<!-- SECTION 3 -->
{% include section_blue_boxes.html %}
<!-- end SECTION 3 -->

<!-- SECTION 4 -->
{% include section_coffee_supply_chain.html %}
<!-- end SECTION 4 -->

  <!-- SECTION 5 -->
  <section class="section-home-2 bg-secondary-darker animate slide-in-from-left">
      <div class="container">
        <div class="swiper2 fade">
          <div class="swiper2-container">
            <div class="swiper2-wrapper">
              <!-- Slide 1 -->
              <div class="swiper2-slide">
                <div class="row text-left">
                  <div class="col-lg-3 col-sm-10 text-center-tablet">
                    <img src="{{site.data.machines.section5.slide01.image}}" 
                          class="machines-slider-img text-center-mobile more-25-margin-bottom">
                    <h2 class="text-orange ">{{site.data.machines.section5.slide01.title}}</h2>
                    <p class="text-secondary-dark bold">
                        {{site.data.machines.section5.slide01.subtitle}}
                    </p>
                    <p class="font-size-14 bold">{{site.data.machines.section5.slide01.set-up.text}}</p>
                    <div class="text-white">
                      <p class="font-size-14 zero-margin-bottom">- {{site.data.machines.section5.slide01.set-up.space01}}</p>
                      <p class="font-size-14 zero-margin-bottom">- {{site.data.machines.section5.slide01.set-up.space02}}</p>
                      <p class="font-size-14 more-padding-bottom">- {{site.data.machines.section5.slide01.set-up.space03}}</p>
                    </div>
                  </div>
                  
                  <div class="col-lg-6 col-sm-10">
                    <div class="row">
                      <div class="">
                          <div class="swiper2-button-next" style="top: 0px; padding-top: 40px;"></div>
                          <div class="swiper2-button-prev" style="top: 0px; padding-top: 40px;"></div> 
                          <div class="swiper2-pagination" style="top: 0px; padding-top: 8px;"></div>
                      </div>
                    </div>
                    <div class="row more3-margin-top">
                      <div class="col-lg-6 col-sm-10 zero-padding mobile-content-padd-40">
                        <ul class="">

                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.1</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide01.question01.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide01.question01.r}}
                                </p>
                              </div>
                            </div>
                          </li>
                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.2</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide01.question02.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide01.question02.r}}
                                </p>
                              </div>
                            </div>
                          </li>

                        </ul>

                      </div>
                      <div class="col-lg-6 col-sm-10 zero-padding mobile-content-padd-40">
                        <ul class="">

                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.3</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide01.question03.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide01.question03.r}}
                                </p>
                              </div>
                            </div>
                          </li>
                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.4</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide01.question04.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide01.question04.r}}
                                </p>
                              </div>
                            </div>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- Slide 2 -->
              <div class="swiper2-slide">
                <div class="row text-left">
                  <div class="col-lg-3 col-sm-12">
                    <img src="{{site.data.machines.section5.slide02.image}}" 
                          class="machines-slider-img text-center-mobile more-25-margin-bottom">
                    <h2 class="text-orange">{{site.data.machines.section5.slide02.title}}</h2>
                    <p class="text-secondary-dark bold">{{site.data.machines.section5.slide02.subtitle}}</p>
                    <p class="font-size-14 bold">{{site.data.machines.section5.slide02.set-up.text}}</p>
                    <div class="text-white">
                      <p class="font-size-14 zero-margin-bottom">- {{site.data.machines.section5.slide02.set-up.space01}}</p>
                      <p class="font-size-14 more-padding-bottom">- {{site.data.machines.section5.slide02.set-up.space02}}</p>
                    </div>
                  </div>

                  <div class="col-lg-6 col-sm-12">
                    <div class="row">
                      <div class="">
                        <div class="swiper2-button-next" style="top: 0px; padding-top: 40px;"></div>
                        <div class="swiper2-button-prev" style="top: 0px; padding-top: 40px;"></div> 
                        <div class="swiper2-pagination" style="top: 0px; padding-top: 8px;"></div>
                      </div>
                    </div>
                    <div class="row more3-margin-top">
                      <div class="col-lg-6 col-sm-9 zero-padding mobile-content-padd-40">
                        <ul class="">

                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.1</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide02.question01.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide02.question01.r}}
                                </p>
                              </div>
                            </div>
                          </li>
                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.2</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide02.question02.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide02.question02.r}}
                                </p>
                              </div>
                            </div>
                          </li>

                        </ul>

                      </div>
                      <div class="col-lg-6 col-sm-9 zero-padding mobile-content-padd-40">
                        <ul class="">

                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.3</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide02.question03.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide02.question03.r}}
                                </p>
                              </div>
                            </div>
                          </li>
                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.4</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide02.question04.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide02.question04.r}}
                                </p>
                              </div>
                            </div>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- Slide 3 -->
              <div class="swiper2-slide">
                <div class="row text-left">
                  <div class="col-lg-3 col-sm-12">
                    <img src="{{site.data.machines.section5.slide03.image}}" 
                          class="machines-slider-img-border text-center-mobile more-25-margin-bottom">
                    <h2 class="text-orange">{{site.data.machines.section5.slide03.title}}</h2>
                    <p class="text-secondary-dark bold">{{site.data.machines.section5.slide03.subtitle}}</p>
                    <p class="font-size-14 bold">{{site.data.machines.section5.slide03.set-up.text}}</p>
                    <div class="text-white">
                      <p class="font-size-14 more-padding-bottom">- {{site.data.machines.section5.slide03.set-up.space01}}</p>
                    </div>
                  </div>

                  <div class="col-lg-6 col-sm-12">
                    <div class="row">
                      <div class="">
                        <div class="swiper2-button-next" style="top: 0px; padding-top: 40px;"></div>
                        <div class="swiper2-button-prev" style="top: 0px; padding-top: 40px;"></div> 
                        <div class="swiper2-pagination" style="top: 0px; padding-top: 8px;"></div>
                      </div>
                    </div>
                    <div class="row more3-margin-top">
                      <div class="col-lg-6 col-sm-9 zero-padding mobile-content-padd-40">
                        <ul class="">

                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.1</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide03.question01.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide03.question01.r}}
                                </p>
                              </div>
                            </div>
                          </li>
                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.2</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide03.question02.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide03.question02.r}}
                                </p>
                              </div>
                            </div>
                          </li>

                        </ul>

                      </div>
                      <div class="col-lg-6 col-sm-9 zero-padding mobile-content-padd-40">
                        <ul class="">

                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.3</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide03.question03.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide03.question03.r}}
                                </p>
                              </div>
                            </div>
                          </li>
                          <li class="machines-li-height">
                            <div>
                              <h3 class="h1 text-secondary-dark bg-secondary-darker machines-li-title">
                                Q.4</h3>
                            </div>
                            <div class="font-size-14 top-border-s-darker-80"></div>
                            <div>
                              <div>
                                <p class="bold more-margin-top">
                                  {{site.data.machines.section5.slide03.question04.q}}
                                </p>
                                <p class="text-white">
                                  {{site.data.machines.section5.slide03.question04.r}}
                                </p>
                              </div>
                            </div>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- end SECTION 5 -->

  <!-- SECTION 6 -->
  <!-- Part1 -->
  {% include section_blog_boxes.html %}
  <!-- end SECTION 6 -->

  <!-- SECTION 7 -->
  <section class="section-home-7 bg-pattern-dark line-top">
    <div class="container container-sm">

      <div class="row m-lg">
        <div class="col animate slide-in-from-top">
          <h1 class="text-white text-center">
            {{site.data.index.section7.title.top}} <br class="d-none d-lg-block">
            <span class="text-secondary-lighter">{{site.data.index.section7.title.bottom}}</span>
          </h1>
          <p class="text-white text-center">
            <b>
              To get started, please email us on <a class="link-secondary-lighter"
              href="{{site.data.general_info.email.link}}">{{site.data.general_info.email.name}}</a>
              or call us on <br class="d-none d-lg-block"><a href="{{site.data.general_info.phone.link}}"
              class="link-secondary-lighter">{{site.data.general_info.phone.number}}</a>.
              Alternatively use the contact form below:
            </b>
          </p>
        </div>
      </div>

      <div class="row">
          <div class="col animate slide-in-from-top">
            <form>
              <div class="form-group">
                <input id ="full_name" type="text" class="form-control" placeholder="Full Name *">
              </div>

              <div class="row md-gutter">
                <div class="col-md-6">
                  <div class="form-group">
                    <input id ="email" type="text" class="form-control" placeholder="Email *">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input id ="phone_nr" type="text" class="form-control" placeholder="Phone No. *">
                  </div>
                </div>
              </div>

              <div class="row md-gutter">
                <div class="col-md-6">
                  <div class="form-group">
                      <input id ="company_name" type="text" class="form-control" placeholder="Company *">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select id ="nr_of_staff" class="form-control">
                      <option  disabled selected value>No. of Staff</option>
                      <option>1-10</option>
                      <option>11-50</option>
                      <option>51-100</option>
                      <option>101-250</option>
                      <option>250+</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row md-gutter">
                <div class="col-lg-12">
                  <div class="form-group">
                      <textarea id ="how_can_we_help" class="form-control" placeholder="How can we help you?"></textarea>
                  </div>
                </div>
              </div>

              <div class="row md-gutter">
                <div class="col-md-6">
                  <div class="form-group m-top">
                    <div class="checkbox-control">
                      <input type="checkbox"  value="1" id="checkbox-1" name="" >
                      <label for="checkbox-1">
                        <span>I would like a <b>free coffee tasting</b></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <a id="submit_button" class="btn btn-primary full-width center-mobile">Treat your team</a>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>
  <!-- end SECTION 7 -->





