---
layout: default
title: Our Story
class: our_story
permalink: /our_story
---

<!-- Content here -->
<!-- HEADER -->
<header class="story">  
	<div class="container v-align story-content text-center">
		
	</div>
</header>

	
<!-- SECTION 1-->
<section class="section-home-5 m-top-negative no-p ">
	<div class="container">
			<div class="row text-center animate slide-in-from-top">
				<div class="col-md-2 col-sm-0"></div>
				<div class="col-md-8 col-sm-12">
					<div class="image-area story-header-margin">
						<img src="{{site.data.story.section1.image}}" class="center-image-header">
					</div>
					<h1 class="more-margin-top text-secondary-darker">
						{{ site.data.story.section1.title }}
					</h1>
					<p class="">
						{{ site.data.story.section1.text }}
					</p>
					<a href="{{ site.data.story.section1.button.link }}" 
							class="btn btn-primary-no-arrow-r more-25-margin-top">{{ site.data.story.section1.button.text }}</a>
					<hr class="separator animate slide-in-from-top">
				</div>
				<div class="col-md-2 col-sm-0"></div>
			</div>
		<div class="row sm-gutter compensate-m">
				
			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
					<a href="{{ site.data.story.section1.img01.link }}" class="item-img">
						<div class="img">
							<img src={{site.data.index.section1.column.left.image}} class="img-fluid">
						</div>
						<div class="content">
							<h3 class="h5 primary m">{{ site.data.story.section1.img01.title }}</h3>
							<p class="sm">{{ site.data.story.section1.img01.text }}</p>
							<div class="cta">{{ site.data.story.section1.img01.cta }}</div>
						</div>
					</a>
				</div>
					
				<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
					<a href="{{ site.data.story.section1.img02.link }}" class="item-img">
						<div class="img">
							<img src={{site.data.index.section1.column.middle.image}} class="img-fluid">
						</div>
						<div class="content">
							<h3 class="h5 primary m">{{ site.data.story.section1.img02.title }}</h3>
							<p class="sm">{{ site.data.story.section1.img02.text }}</p>
							<div class="cta">{{ site.data.story.section1.img02.cta }}</div>
						</div>
					</a>
				</div>
					
				<div class="col-sm-12 col-lg-4 animate slide-in-from-top">
					<a href="{{ site.data.story.section1.img03.link }}" class="item-img">
						<div class="img full-sm-img-height">
							<img src={{site.data.index.section1.column.right.image}} class="img-fluid">
						</div>
						<div class="content content-50-padding">
							<h3 class="h5 primary m">{{ site.data.story.section1.img03.title }}</h3>
							<p class="sm">{{ site.data.story.section1.img03.text }}</p>
							<div class="cta">{{ site.data.story.section1.img03.cta }}</div>
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-lg-12">
					<hr class="separator animate slide-in-from-top">
				</div>
		</div>
	</div>
</section>
<!-- end SECTION 1 -->

<!-- SECTION 2 -->
<section class="section-home-4 text-center more-30-padding-top">
	<div class="container animate slide-in-from-left">
		<div class="row ">
			<div class="col-lg-12">
				<h2 class="h1 text-secondary-darker -mobile">{{ site.data.story.section2.title }}</h2>
			</div>
		</div>
		<div class="row ">
			<div class="col-md-2 col-sm-0"></div>
			<div class="col-md-8 col-sm-12">
				<p class="sm -mobile text-secondary-darker">
					{{ site.data.story.section2.text }}
				</p>
			</div>
			<div class="col-md-2 col-sm-0"></div>
		</div>
		<div class="row ">
			<div class="col-md-12 ">
				<a href="{{ site.data.story.section2.button.link }}" 
						class="btn btn-primary-no-arrow-r more3-margin-bottom">{{ site.data.story.section2.button.text }}</a>
			</div>
		</div>
	</div>
</section>
<!-- end SECTION 2 -->

<!-- SECTION 3 -->
<!-- Part 1 -->
<section class="section-home-5 bg-dark animate slide-in-from-top">
	<div class="container text-center">
		<div class="row sm-gutter compensate-m">
			<div class="col-md-3 col-sm-0"></div>	
			<div class="col-md-6 col-sm-12">
				<div class="image-area more2-margin-top" >
					<img src="{{ site.data.story.section3.top.image }}" 
								class="center-image-top">
				</div>
				<h3 class="text-white text-center-mobile more-25-margin-top">
					{{ site.data.story.section3.top.title }}
				</h3>
			</div>
			<div class="col-md-3 col-sm-0"></div>	
		</div>

	</div>
</section>

<!-- Part 2 -->
<section class="section-home-4 text-center zero-padding-bottom zero-padding">
	<div class="row">
		<div class="col-lg-6 col-sm-12 zero-padding-right animate slide-in-from-left">
			<div class="fixed-img-area">
				<img src="{{ site.data.story.section3.bottom.image }}" class="fit-image-corners_story">
			</div>
		</div>
		<div class="col-lg-6 col-sm-12 animate slide-in-from-top">
			<div class="row more-margin-top">
				<div class="col-lg-11 col-sm-12">

				</div>
				<div class="col-lg-1 col-sm-0"></div>
			</div>
			<div class="row bg-fingerprint">
				<div class="col-lg-11 col-sm-12">
					<h3 class="text-secondary-darker text-center-mobile font-size-42">
						{{ site.data.story.section3.bottom.title }}</h3>
					<quote class="text-secondary-darker text-center font-size-20">
						{{ site.data.story.section3.bottom.text }}
						<span>{{ site.data.story.section3.bottom.bold_text }}</span>
					</quote>
				</div>
				<div class="col-lg-1 col-sm-0"></div>
			</div>
		</div>
	</div>	
</section>
<!-- end SECTION 3 -->

<!-- SECTION 4 -->
{% include section_blue_boxes.html %}
<!-- end SECTION 4 -->

<!-- SECTION 5 -->
{% include section_coffee_supply_chain.html %}
<!-- end SECTION 5 -->

<!-- SECTION 6 -->
<section class="section-home-2 bg-secondary-darker animate slide-in-from-left">
	<div class="container">
		<div class="">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<!-- Slide 1 -->
					<div class="swiper-slide">
						<div class="row text-left">
							<div class="col-md-5 col-sm-12 zero-padding-right auto-flex">
								<img src="../assets/img/avatars/meet_maria.jpg" 
											class="img-fluid text-center-mobile mobile-img-hide">
								<img src="../assets/img/avatars/mobile_meet_maria.png" 
											class="img-fluid text-center-mobile web-img-hide">
							</div>
							<div class="col-md-5">
								<h3 class="text-secondary-light m-lg text-center-mobile no_margin">Meet</h3>
								<h2 class="text-orange m-lg text-center-mobile no_margin">Marcus Carvalho,</h2>
								<p class="text-secondary-dark lg bold text-center-mobile uppercase">
									grower of fazenda chapada</p>
								<div class="slider-container">
									<div class="narrowchart">
										<div id="accordion">
											<h3 class="lg bold primary title-arrow-down">
												The Farmer<i class="bg-arrow"></i>
											</h3>
											<div>
												<p class="font-size-16 text-white">
													Coffee is José and Maria’s passion. Based near Acevedo, Colombia, José bought 
													his farm in 1989, when the whole area was barren - but since he’s been in the 
													industry all his life, that wasn’t a hurdle for him. For José, coffee is a lot 
													of things: a source of income for him and his wife Maria, a way to strengthen 
													the community and a drink to bond and build friendships over. That focus on 
													relationships is why he values his connection with Head of Coffee Will so much. 
													More than a business arrangement, Will is a friend - and one that comes to visit 
													(all the way from London) around twice a year!
												</p>	
											</div>
											<h3 class="lg bold primary title-arrow-down">
												The Farm<i class="bg-arrow"></i>
											</h3>
											<div>
												<p class="font-size-16 text-white">
													With just 33 hectares of coffee-producing land, José and Maria have provided 
													us with 10 different coffees over the years, but are now branching out to 
													bigger lots. From a plot of barren land to a thriving farm that employs around 
													80 people, a mix of permanent staff and seasonal cherry-pickers, José has made 
													sure that his success is felt by his whole team. Since working with Pact, he’s 
													been able to build new housing and new bathrooms for the people who work on the 
													farm. As he says, his priority is “to make them feel happy at the farm, to feel 
													at home” - and according to Will, Maria’s cooking definitely helps with that!
												</p>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row more-margin-top mobile-bottom">
									<div class="footer">
										<div class="swiper-button-next"></div>
										<div class="swiper-button-prev"></div>  
										<div class="swiper-pagination" style="bottom: 18px;"></div>
									</div> 
								</div> 

							</div>
						</div>
					</div>
					<!-- Slide 2 -->
					<div class="swiper-slide">
						<div class="row text-left">
							<div class="col-md-5 col-sm-12 zero-padding-right auto-flex">
								<img src="../assets/img/avatars/meet_sergio.jpg" 
											class="img-fluid text-center-mobile mobile-img-hide">
								<img src="../assets/img/avatars/mobile_meet_sergio.jpg" 
											class="img-fluid text-center-mobile web-img-hide">
							</div>
							<div class="col-md-5">
								<h3 class="text-secondary-light m-lg text-center-mobile no_margin">Meet</h3>
								<h2 class="text-orange m-lg text-center-mobile no_margin">Marcus Carvalho,</h2>
								<p class="text-secondary-dark lg bold text-center-mobile uppercase">
									grower of fazenda chapada</p>
								<div class="slider-container">
									<div id="accordion2">
										<h3 class="lg bold primary title-arrow-down">
											The Farmer<i class="bg-arrow"></i>
										</h3>
										<div>
											<p class="font-size-16 text-white">
												Inheriting the Planalto estate from his wife Mariza’s father, José 
												Armando Franco, Sergio and Mariza had a legacy to uphold. Not only has 
												the farm been growing coffee for over 25 years, José himself was 
												responsible for the move from commodity to speciality beans - as 
												the movement for quality coffee grew, he recognised that their healthy 
												trees and perfect terroir would make the move to speciality a wise one. 
												Based south of Minas Gerais, Brazil, Sergio has proven his commitment to 
												improving the quality of his coffee - from working closely with Will, to 
												investing in his team by paying for them to attend specialised processing 
												workshops. 
											</p>	
										</div>
										<h3 class="lg bold primary title-arrow-down">
											The Farm<i class="bg-arrow"></i>
										</h3>
										<div>
											<p class="font-size-16 text-white">
												We refer to it as the Planalto estate for a reason: this is not a small farm. 
												At a massive 908 hectares, with 430 hectares of coffee-producing land, Sergio 
												and Mariza manage to produce around 12,000 bags a year - that’s 35 bags per 
												hectare. There’s a lot that helps them get to that number; from the 3600 foot 
												altitude and surrounding natural forest creating the perfect microclimate, to 
												the large team of workers. There are 40 permanent staff at Planalto, with an 
												additional 50 during the harvesting period. By providing them with good housing, 
												water and waste services, access to education and wages that are above regional 
												standards, Sergio and Mariza show them what a valuable part of the farm they 
												really are. 
											</p>
										</div>
									</div>
								</div>
								
								<div class="row more-margin-top mobile-bottom">
									<div class="footer">
										<div class="swiper-button-next"></div>
										<div class="swiper-button-prev"></div>  
										<div class="swiper-pagination" style="bottom: 18px;"></div>
									</div> 
								</div> 
								
							</div>
						</div>
					</div>
					<!-- Slide 3 -->
					<div class="swiper-slide">
						<div class="row text-left">
							<div class="col-md-5 col-sm-12 zero-padding-right auto-flex">
								<img src="../assets/img/avatars/meet_marcus.png" 
											class="img-fluid text-center-mobile mobile-img-hide">
								<img src="../assets/img/avatars/mobile_meet_marcus.png" 
											class="img-fluid text-center-mobile web-img-hide">
							</div>
							<div class="col-md-5">
								<h3 class="text-secondary-light m-lg text-center-mobile no_margin">Meet</h3>
								<h2 class="text-orange m-lg text-center-mobile no_margin">Marcus Carvalho,</h2>
								<p class="text-secondary-dark lg bold text-center-mobile uppercase">
									grower of fazenda chapada</p>
								<div class="slider-container">
									<div id="accordion3">
										<h3 class="lg bold primary title-arrow-down">
											The Farmer<i class="bg-arrow"></i>
										</h3>
										<div>
											<p class="font-size-16 text-white">
												Marcus Carvalho spent the earlier part of his career as a professional 
												football player in Brazil. But after marrying Maria José Barros Junqueira, 
												Maria’s father passing away meant that they inherited a farm. And Marcus 
												really got stuck in. His hard work meant that his coffee scores and volume 
												produced went up, winning him recognition in the coffee field - not just 
												in his coffee fields! Sadly, Marcus’ wife was the victim of a car accident, 
												which understandably turned his life upside down. While he considered 
												abandoning the farm in his grief, he decided to honor the hard work and 
												memory of his wife and her father by continuing to keep it going.
											</p>	
										</div>
										<h3 class="lg bold primary title-arrow-down">
											The Farm<i class="bg-arrow"></i>
										</h3>
										<div>
											<p class="font-size-16 text-white">
												Marcus himself says it best: “as my farm is small, I cannot accept 
												produce defects. All my coffees have to get more that 80 points”. 
												And at just 60 hectares of farmland, 27 of which produces coffee, 
												he’s got a point. This attitude means he averages around 84 points 
												for his coffee, but his forward-thinking approach to his workforce 
												also contributes to this. When he first got started, Marcus realised 
												he was having trouble finding people to help harvest cherries due to 
												competition from neighbouring farms. Quality is impacted by an early 
												or late harvest, so he knew it was worth paying more to get the right 
												workers at the right time.
											</p>
										</div>
									</div>
								</div>
								
								<div class="row more-margin-top mobile-bottom">
									<div class="footer">
										<div class="swiper-button-next"></div>
										<div class="swiper-button-prev"></div>  
										<div class="swiper-pagination" style="bottom: 18px;"></div>
									</div> 
								</div> 
								
							</div> 
						</div>
					</div>
					
				</div> 
			</div>
		</div>
	</div>
</section>
<!-- end SECTION 6 -->

<!-- SECTION 7 -->
{% include section_swiper_orange.html %}
<!-- end SECTION 7 -->

<!-- SECTION 8 -->
{% include section_blog_boxes.html %}
<!-- end SECTION 8 -->

<!-- SECTION 9 -->
<section class="section-home-7 bg-pattern-dark line-top">
	<div class="container container-sm">

		<div class="row m-lg">
			<div class="col animate slide-in-from-top">
				<h1 class="text-white text-center">
					{{site.data.index.section7.title.top}} <br class="d-none d-lg-block">
					<span class="text-secondary-lighter">{{site.data.index.section7.title.bottom}}</span>
				</h1>
				<p class="text-white text-center">
					<b>
						To get started, please email us on <a class="link-secondary-lighter" 
						href="{{site.data.general_info.email.link}}">{{site.data.general_info.email.name}}</a> 
						or call us on <br class="d-none d-lg-block"><a href="{{site.data.general_info.phone.link}}" 
						class="link-secondary-lighter">{{site.data.general_info.phone.number}}</a>. 
						Alternatively use the contact form below:
					</b>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col animate slide-in-from-top">
				<form>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Full Name *">
					</div>

					<div class="row md-gutter">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email *">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Phone No. *">
							</div>
						</div>
					</div>

					<div class="row md-gutter">
						<div class="col-md-6">
							<div class="form-group">
									<input type="text" class="form-control" placeholder="Company *">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control">
									<option  disabled selected value>No. of Staff</option>
									<option>5</option>
									<option>10</option>
									<option>15</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<select class="form-control">
							<option disabled selected value>Preferred method of contact</option>
							<option>Phone</option>
							<option>Email</option>
						</select>
					</div>

					<div class="row md-gutter">
						<div class="col-lg-12">
							<div class="form-group">
									<textarea class="form-control" placeholder="How can we help you?"></textarea>
							</div>
						</div>
					</div>

					<div class="row md-gutter">
						<div class="col-md-6">
							<div class="form-group m-top">
								<div class="checkbox-control">
									<input type="checkbox"  value="1" id="checkbox-1" name="" >
									<label for="checkbox-1">
										<span>I would like a <b>free coffee tasting</b></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<a href="#" class="btn btn-primary full-width center-mobile">Treat your team</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- end SECTION 9 -->



