---
layout: default
title: Pricing
class: pricing
permalink: /pricing
---

<!-- Content here -->
<!-- HEADER -->
<header class="pricing">
		<div class="container v-align pricing-content text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="text-white more-margin-top">
						{{site.data.pricing.header.title.white}} <br>
						<span class="text-secondary-lighter">{{site.data.pricing.header.title.blue_light}}</span>
					</h1>
					<p class="text-white bold">
						{{site.data.pricing.header.text}}
						<!-- <br> -->
					</p>
					<div class="row">
						<div class="col-md-5 col-sm-12 pricing-info-right">
							<p class="lg bold text-orange no-margin-bottom font-size-18">
								Call us now {{site.data.general_info.phone.number}}
							</p>
						</div>
						<div class="col-md-2 col-sm-12 text-light-gray mobile-remove">
							<hr class="separator no_margin" style="background-color: #004249; opacity: 0.6;">
						</div>
						<div class="col-md-5 col-sm-12 pricing-info-left">
							<p class="lg bold text-orange no-margin-bottom font-size-18">
									{{site.data.general_info.email.name}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container scroll container_width0">
			<div>
				<button class="scroll-to" data-scroll=".section-home-1"></button>
			</div>
		</div>
	</header>

<!-- SECTION 1 -->
<section class="section-home-1 more-margin-bottom">
	<div class="container">
		{% include logo_swiper.html %}

		<div class="row animate slide-in-from-top text-left more-margin-top">
			<div class="col-lg-5 ">
				<h3 class="h2 text-secondary-darker no-m-bot">
					{{site.data.pricing.section1.title}}
				</h3>
			</div>
			<div class="col-lg-7">
				<p class=" text-secondary-darker no-m-bot">
					{{site.data.pricing.section1.text.top}}
				</p>
				<br>
				<p class=" text-secondary-darker no-m-bot">
					{{site.data.pricing.section1.text.bottom}}
				</p>
				<br>
				<a href="{{site.data.pricing.section1.button.link}}" class="btn btn-secondary-dark center-mobile">{{site.data.pricing.section1.button.text}}</a>
			</div>

		</div>
	</div>
</section>
<!-- END section 1 -->

<!-- SECTION 2 -->
<section class="section-home-4 bg-secondary-darker text-center">
	<div class="container animate slide-in-from-left">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-orange text-center-mobile">{{site.data.pricing.section2.title}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-0"></div>
			<div class="col-md-6">
				<p class="lg text-center-mobile text-center text-white">
					<b>{{site.data.pricing.section2.subtitle}}</b>
				</p>
			</div>
			<div class="col-md-3 col-sm-0"></div>
		</div>
	</div>
</section>

<!-- Part 2 -->
<section class="section-home-5 m-top-negative no-p bg-secondary-darker">
	<div class="container text-center">
		<div class="row sm-gutter compensate-m">

			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
					<div class="content-less2-space">
						<div class="in-between">
							<b class="h3 border-middle-balloon bg-secondary-light
												text-secundary-darker lg font-size-24">1</b>
						</div>
						<p class="text-white">{{site.data.pricing.section2.area.one}}</p>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
						<div class="content-less2-space">
							<div class="in-between">
								<b class="h3 border-middle-balloon2 bg-secondary-light
												text-secundary-darker lg font-size-24">2</b>
							</div>
							<p class="text-white">{{site.data.pricing.section2.area.two}}</p>
						</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
					<div class="content-less2-space">
						<div class="in-between">
							<b class="h3 border-middle-balloon2 bg-secondary-light
												text-secundary-darker lg font-size-24">3</b>
						</div>
						<p class="text-white">{{site.data.pricing.section2.area.tree}}</p>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
					<div class="content-less2-space">
						<div class="in-between">
							<b class="h3 border-middle-balloon2 bg-secondary-light
												text-secundary-darker lg font-size-24">4</b>
						</div>
						<p class="text-white">{{site.data.pricing.section2.area.four}}</p>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
						<div class="content-less2-space">
							<div class="in-between">
								<b class="h3 border-middle-balloon2 bg-secondary-light
												text-secundary-darker lg font-size-24">5</b>
							</div>
							<p class="text-white">{{site.data.pricing.section2.area.five}}</p>
						</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
					<div class="content-less2-space">
						<div class="in-between">
							<b class="h3 border-middle-balloon2 bg-secondary-light
												text-secundary-darker lg font-size-24">6</b>
						</div>
						<p class="text-white">{{site.data.pricing.section2.area.six}}</p>
					</div>
				</div>
			</div>

		</div>
		<div class="row animate slide-in-from-top">
			<div class="col-md-12 more2-margin-bottom more-25-margin-top">
				<a href="{{site.data.pricing.section2.button.link}}"
						class="btn btn-primary-no-arrow center-mobile">{{site.data.pricing.section2.button.text}}</a>
			</div>
		</div>
	</div>
</section>
<!-- END section 2 -->

<!-- SECTION 3 -->
{% include section_swiper_orange.html %}
<!-- END section 3 -->

<!-- SECTION 4 -->
<section class="section-home-4 text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 animate slide-in-from-top">
				<img src="../assets/img/illustration/01.png" width="400"
							class="img-fluid margin-auto more-margin-bottom">
				<h2 class="text-secondary-darker text-center-mobile">{{site.data.pricing.section4.title}}</h2>
			</div>
		</div>
		<div class="row animate slide-in-from-left">
			<div class="col-md-2 col-sm-0"></div>
			<div class="col-md-8">
				<p class="text-center-mobile">
					{{site.data.pricing.section4.subtitle}}
				</p>
			</div>
			<div class="col-md-2 col-sm-0"></div>
		</div>
	</div>
</section>

<!-- Part 2 -->
<section class="section-home-5 m-top-negative no-p">
	<div class="container text-center">
		<div class="row sm-gutter compensate-m">

			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="{{site.data.pricing.section4.image}}" width="50"
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon text-blue-icon m uppercase">
						{{site.data.pricing.section4.theme.one.title}}</h3>
					<p class="">
							{{site.data.pricing.section4.theme.one.text}}
					</p>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="{{site.data.pricing.section4.image}}" width="50"
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon m uppercase">
						{{site.data.pricing.section4.theme.two.title}}</h3>
					<p class="">
						{{site.data.pricing.section4.theme.two.text}}
					</p>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="{{site.data.pricing.section4.image}}" width="50"
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon m uppercase">
						{{site.data.pricing.section4.theme.tree.title}}</h3>
					<p class="">
						{{site.data.pricing.section4.theme.tree.text}}
					</p>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="{{site.data.pricing.section4.image}}" width="50"
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon m uppercase">
						{{site.data.pricing.section4.theme.four.title}}</h3>
					<p class="">
						{{site.data.pricing.section4.theme.four.text}}
					</p>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="{{site.data.pricing.section4.image}}" width="50"
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon m uppercase">
						{{site.data.pricing.section4.theme.five.title}}</h3>
					<p class="">
						{{site.data.pricing.section4.theme.five.text}}
					</p>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="{{site.data.pricing.section4.image}}" width="50"
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon m uppercase">
						{{site.data.pricing.section4.theme.six.title}}</h3>
					<p class="">
						{{site.data.pricing.section4.theme.six.text}}
					</p>
				</div>
			</div>

		</div>
		<div class="row animate slide-in-from-top">
			<div class="col-md-12 more2-margin-bottom more-25-margin-top">
				<a href="{{site.data.pricing.section4.button.link}}"
						class="btn btn-primary-no-arrow center-mobile">{{site.data.pricing.section4.button.text}}</a>
			</div>
		</div>
	</div>
</section>
<!-- END section 4 -->

<!-- SECTION 5 -->
{% include section_blue_boxes.html %}
<!-- END section 5 -->

<!-- SECTION 6 -->
{% include section_coffee_supply_chain.html %}
<!-- END section 6 -->

<!-- SECTION 7 -->
<section class="section-home-7 bg-pattern-dark line-top">
	<div class="container container-sm">

		<div class="row m-lg">
			<div class="col animate slide-in-from-top">
				<h1 class="text-white text-center">
					{{site.data.index.section7.title.top}} <br class="d-none d-lg-block">
					<span class="text-secondary-lighter">{{site.data.index.section7.title.bottom}}</span>
				</h1>
				<p class="text-white text-center">
					<b>
						To get started, please email us on <a class="link-secondary-lighter"
						href="{{site.data.general_info.email.link}}">{{site.data.general_info.email.name}}</a>
						or call us on <br class="d-none d-lg-block"><a href="{{site.data.general_info.phone.link}}"
						class="link-secondary-lighter">{{site.data.general_info.phone.number}}</a>.
						Alternatively use the contact form below:
					</b>
				</p>
			</div>
		</div>

		<div class="row">
        <div class="col animate slide-in-from-top">
          <form>
            <div class="form-group">
              <input id ="full_name" type="text" class="form-control" placeholder="Full Name *">
            </div>

            <div class="row md-gutter">
              <div class="col-md-6">
                <div class="form-group">
                  <input id ="email" type="text" class="form-control" placeholder="Email *">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input id ="phone_nr" type="text" class="form-control" placeholder="Phone No. *">
                </div>
              </div>
            </div>

            <div class="row md-gutter">
              <div class="col-md-6">
                <div class="form-group">
                    <input id ="company_name" type="text" class="form-control" placeholder="Company *">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select id ="nr_of_staff" class="form-control">
                    <option  disabled selected value>No. of Staff</option>
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <select id ="prefered_contact_method" class="form-control">
                <option disabled selected value>Preferred method of contact</option>
                <option>Phone</option>
                <option>Email</option>
              </select>
            </div>

            <div class="row md-gutter">
              <div class="col-lg-12">
                <div class="form-group">
                    <textarea id ="how_can_we_help" class="form-control" placeholder="How can we help you?"></textarea>
                </div>
              </div>
            </div>

            <div class="row md-gutter">
              <div class="col-md-6">
                <div class="form-group m-top">
                  <div class="checkbox-control">
                    <input type="checkbox"  value="1" id="checkbox-1" name="" >
                    <label for="checkbox-1">
                      <span>I would like a <b>free coffee tasting</b></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <a id="submit_button" class="btn btn-primary full-width center-mobile">Treat your team</a>
              </div>
            </div>
          </form>
        </div>
      </div>
	</div>
</section>
<!-- END section 7 -->

