---
layout: default
title: Pricing
class: pricing
permalink: /pricing
---

<!-- Content here -->
<!-- HEADER -->
<header class="pricing">
		<div class="container v-align pricing-content text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="text-white more-margin-top">
						World-class coffee that <br>
						<span class="text-secondary-lighter">suits your budget</span>
					</h1>
					<p class="text-white bold">
						From £1.18 to £7.98 per employee per month. We don't try to be the 
						<br>cheapest, just the best. 
					</p>
					<div class="row">
						<div class="col-md-5 col-sm-12 pricing-info-right">
							<p class="lg bold text-orange no-margin-bottom font-size-18">
								Call us now {{site.data.general_info.phone.number}}
							</p>
						</div>
						<div class="col-md-2 col-sm-12 text-light-gray mobile-remove">
							<hr class="separator no_margin" style="background-color: #004249; opacity: 0.6;"> 
						</div>
						<div class="col-md-5 col-sm-12 pricing-info-left">
							<p class="lg bold text-orange no-margin-bottom font-size-18">
									{{site.data.general_info.email.name}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container scroll container_width0">
			<div>
				<button class="scroll-to" data-scroll=".section-home-1"></button>
			</div>
		</div>
	</header>

<!-- SECTION 1 -->
<section class="section-home-1 more-margin-bottom">
	<div class="container">
			
		<div class="row animate slide-in-from-top">
			<div class="col text-center">
				<p class="xs text-secondary-lightest no-m-bot">{{site.data.index.section1.logos.text}}</p>
			</div>
		</div>
		
		<div class="row animate slide-in-from-top">
			<div class="col">
				<div class="swiper2 brands">
					<div class="swiper2-container blur">
						<div class="swiper2-wrapper">
							<!--imgs -->
							<div class="swiper2-slide">
								<img src={{site.data.index.section1.logos.logo1}} width="150" height="80" alt="Zopa" class="img-fluid">
							</div>
							<div class="swiper2-slide">
								<img src={{site.data.index.section1.logos.logo2}} width="150" height="80" alt="Trainline" class="img-fluid">
							</div>
							<div class="swiper2-slide">
								<img src={{site.data.index.section1.logos.logo3}} width="150" height="80" alt="TransferWise" class="img-fluid">
							</div>
							<div class="swiper2-slide">
								<img src={{site.data.index.section1.logos.logo4}} width="150" height="80" alt="Just Eat" class="img-fluid">
							</div>
							<div class="swiper2-slide">
								<img src={{site.data.index.section1.logos.logo5}} width="150" height="80" alt="Vice" class="img-fluid">
							</div>
							<div class="swiper2-slide">
								<img src={{site.data.index.section1.logos.logo6}} width="150" height="80" alt="Monzo" class="img-fluid">
							</div>
							<div class="swiper2-slide">
								<img src={{site.data.index.section1.logos.logo7}} width="150" height="80" alt="Graze" class="img-fluid">
							</div>
							<!-- end imgs -->
						</div>
					</div>
				</div>
			</div>
		</div>
				
		<div class="row animate slide-in-from-top text-left more-margin-top">
			<div class="col-lg-5 ">
				<h3 class="h2 text-secondary-darker no-m-bot">
					Our Pricing
				</h3>
			</div>
			<div class="col-lg-7">
				<p class=" text-secondary-darker no-m-bot">
					For many the ‘speciality coffee’ label is synonymous with a hefty price tag, 
					but to give you an idea of pricing, Pact Coffee for Business customers typically 
					pay between £1-£5 per employee per month (depending on the size of the company). 
					Not bad for the ultimate employee perk!
				</p>
				<br>
				<p class=" text-secondary-darker no-m-bot">
					We can help you to find a world-class coffee solution that suits your budget, by 
					looking at different coffees and machines in the range. Get in touch and we’ll 
					even arrange a free, no-obligation, coffee tasting, along with an individual 
					quote for your office.
				</p>
				<br>
				<a href="#" class="btn btn-secondary-dark center-mobile">Get Started</a>
			</div>
			
		</div>		
	</div>
</section>
<!-- END section 1 -->

<!-- SECTION 2 -->
<section class="section-home-4 bg-secondary-darker text-center">
	<div class="container animate slide-in-from-left">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-orange text-center-mobile">Hassle-free, <br>end-to-end service</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-0"></div>
			<div class="col-md-6">
				<p class="lg text-center-mobile text-center text-white">
					<b>
						Here's how we'll make it easy for you to provide your office with 
						world-class coffee:</b>
				</p>
			</div>
			<div class="col-md-3 col-sm-0"></div>
		</div>
	</div>
</section>

<!-- Part 2 -->
<section class="section-home-5 m-top-negative no-p bg-secondary-darker">
	<div class="container text-center">
		<div class="row sm-gutter compensate-m">
				
			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
					<div class="content-less2-space">
						<div class="in-between">
							<b class="h3 border-middle-balloon bg-secondary-light 
												text-secundary-darker lg font-size-24">1</b>
						</div>
						<p class="text-white">{{site.data.index.section5.box1.text}}</p>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
						<div class="content-less2-space">
							<div class="in-between">
								<b class="h3 border-middle-balloon2 bg-secondary-light 
												text-secundary-darker lg font-size-24">2</b>
							</div>
							<p class="text-white">{{site.data.index.section5.box2.text}}</p>
						</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
					<div class="content-less2-space">
						<div class="in-between">
							<b class="h3 border-middle-balloon2 bg-secondary-light 
												text-secundary-darker lg font-size-24">3</b>
						</div>
						<p class="text-white">{{site.data.index.section5.box3.text}}</p>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
					<div class="content-less2-space">
						<div class="in-between">
							<b class="h3 border-middle-balloon2 bg-secondary-light 
												text-secundary-darker lg font-size-24">4</b>
						</div>
						<p class="text-white">{{site.data.index.section5.box1.text}}</p>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
						<div class="content-less2-space">
							<div class="in-between">
								<b class="h3 border-middle-balloon2 bg-secondary-light 
												text-secundary-darker lg font-size-24">5</b>
							</div>
							<p class="text-white">{{site.data.index.section5.box2.text}}</p>
						</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg top-border-secundary-light">
					<div class="content-less2-space">
						<div class="in-between">
							<b class="h3 border-middle-balloon2 bg-secondary-light 
												text-secundary-darker lg font-size-24">6</b>
						</div>
						<p class="text-white">{{site.data.index.section5.box3.text}}</p>
					</div>
				</div>
			</div>
				
		</div>
		<div class="row animate slide-in-from-top">
			<div class="col-md-12 more2-margin-bottom more-25-margin-top">
				<a href="#" class="btn btn-primary-no-arrow center-mobile">Treat your team</a>
			</div>
		</div>
	</div>
</section>
<!-- END section 2 -->

<!-- SECTION 3 -->
{% include section_swiper_orange.html %} 
<!-- END section 3 -->

<!-- SECTION 4 -->
<section class="section-home-4 text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 animate slide-in-from-top">
				<img src="../assets/img/illustration/01.png" width="400" 
							class="img-fluid margin-auto more-margin-bottom">
				<h2 class="text-secondary-darker text-center-mobile">At work, coffee matters</h2>
			</div>
		</div>
		<div class="row animate slide-in-from-left">
			<div class="col-md-2 col-sm-0"></div>
			<div class="col-md-8">
				<p class="text-center-mobile">
					In today’s competitive and ever-changing work environment, employers are 
					constantly having to work harder to hire, motivate and retain the best talent. 
					Serving world-class coffee, brewed in market-leading machines is a cost-effective 
					and hassle-free way to make your team feel valued.
				</p>
			</div>
			<div class="col-md-2 col-sm-0"></div>
		</div>
	</div>
</section>

<!-- Part 2 -->
<section class="section-home-5 m-top-negative no-p">
	<div class="container text-center">
		<div class="row sm-gutter compensate-m">
				
			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="../assets/img/icons/plus.png" width="50" 
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon text-blue-icon m uppercase">
						Tried and Tested:</h3>
					<p class="">
						We’re already creating stronger, happier company cultures at the companies 
						we work with.
					</p>
				</div>
			</div>
			
			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="../assets/img/icons/plus.png" width="50" 
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon m uppercase">
						Profile-Raising:</h3>
					<p class="">
						Serving better coffee impresses clients and customers, as well as your 
						team.
					</p>
				</div>
			</div>
			
			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="../assets/img/icons/plus.png" width="50" 
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon m uppercase">
						Easy:</h3>
					<p class="">
						Our hassle-free service, includes the maintenance of all coffee machines, 
						to make life easy for office and ops managers.
					</p>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="../assets/img/icons/plus.png" width="50" 
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon m uppercase">
						Ethical:</h3>
					<p class="">
						Ethically sourced coffee counts towards a company’s CSR; together we’re 
						making coffee a force for good.
					</p>
				</div>
			</div>
			
			<div class="col-sm-6 col-lg-4 animate slide-in-from-top">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="../assets/img/icons/plus.png" width="50" 
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon m uppercase">
						Rewarding:</h3>
					<p class="">
						Employees who enjoy Pact Coffee for Business can also benefit from a 
						discount for the Pact home delivery service.
					</p>
				</div>
			</div>
			
			<div class="col-sm-6 col-lg-4 animate slide-in-from-left">
				<div class="item-img-alt same-less-height-no-bg more-margin-bottom bg-brand">
					<img src="../assets/img/icons/plus.png" width="50" 
								class="margin-auto more-25-margin-bottom">
					<h3 class="h5 primary text-blue-icon m uppercase">
						Team-Building:</h3>
					<p class="">
						As well as delivering superlative coffee, our service can also include 
						social events, cupping sessions and coffee classes.
					</p>
				</div>
			</div>
				
		</div>
		<div class="row animate slide-in-from-top">
			<div class="col-md-12 more2-margin-bottom more-25-margin-top">
				<a href="#" class="btn btn-primary-no-arrow center-mobile">free coffee tasting</a>
			</div>
		</div>
	</div>
</section>
<!-- END section 4 -->

<!-- SECTION 5 -->
{% include section_blue_boxes.html %}
<!-- END section 5 -->

<!-- SECTION 6 -->
{% include section_coffee_supply_chain.html %}
<!-- END section 6 -->

<!-- SECTION 7 -->
<section class="section-home-7 bg-pattern-dark line-top">
	<div class="container container-sm">

		<div class="row m-lg">
			<div class="col animate slide-in-from-top">
				<h1 class="text-white text-center">
					{{site.data.index.section7.title.top}} <br class="d-none d-lg-block">
					<span class="text-secondary-lighter">{{site.data.index.section7.title.bottom}}</span>
				</h1>
				<p class="text-white text-center">
					<b>
						To get started, please email us on <a class="link-secondary-lighter" 
						href="{{site.data.general_info.email.link}}">{{site.data.general_info.email.name}}</a> 
						or call us on <br class="d-none d-lg-block"><a href="{{site.data.general_info.phone.link}}" 
						class="link-secondary-lighter">{{site.data.general_info.phone.number}}</a>. 
						Alternatively use the contact form below:
					</b>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col animate slide-in-from-top">
				<form>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Full Name *">
					</div>

					<div class="row md-gutter">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email *">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Phone No. *">
							</div>
						</div>
					</div>

					<div class="row md-gutter">
						<div class="col-md-6">
							<div class="form-group">
									<input type="text" class="form-control" placeholder="Company *">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select class="form-control">
									<option  disabled selected value>No. of Staff</option>
									<option>5</option>
									<option>10</option>
									<option>15</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<select class="form-control">
							<option disabled selected value>Preferred method of contact</option>
							<option>Phone</option>
							<option>Email</option>
						</select>
					</div>

					<div class="row md-gutter">
						<div class="col-lg-12">
							<div class="form-group">
									<textarea class="form-control" placeholder="How can we help you?"></textarea>
							</div>
						</div>
					</div>

					<div class="row md-gutter">
						<div class="col-md-6">
							<div class="form-group m-top">
								<div class="checkbox-control">
									<input type="checkbox"  value="1" id="checkbox-1" name="" >
									<label for="checkbox-1">
										<span>I would like a <b>free coffee tasting</b></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<a href="#" class="btn btn-primary full-width center-mobile">Treat your team</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- END section 7 -->

