<section class="section-home-4 bgbox-lightgray line-top  more2-padding-top more-padding-bottom">
  <div class="container text-center animate slide-in-from-left">
    <div class="row sm-gutter compensate-m">
      <div class="col-md-12">
        <h3 class=" h4 text-secondary-darker text-center-mobile more-10-margin-bottom">
          Most Read
        </h3>
      </div>
    </div>

    <div class="row sm-gutter compensate-m more-margin-top">
      <!-- Part 0 -->
      <div class="col-md-1 col-sm-0"></div>
      <!-- Part 1 -->
      {% for post in blog offset:0 limit:5 %}
        <div class="col-lg-2 col-sm-12 m content-padd-10">
          <a href="{{ post.url }}" class="blog-content">
            <div class="item-img-alt same-less-height-no-bg">
              <div class="img">
                <div class="v-small-box-img">
                  <div class="img-zoom">
                    <img src="{{post.image_path}}" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="content-less2-space text-left">
                <p class="more-10-margin-top font-size-12 more-10-margin-bottom 
                          text-primary-blue">{{post.date-shown}}</p>
                <p class="font-size-14 bold zero-margin-bottom 
                          text-secondary-darker">{{post.title}}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
      <!-- Part 0 -->
      <div class="col-md-1 col-sm-0"></div>

    </div>

  </div>
</section>