{% if page.class == "spilling_the_beans" %}
<div class="text-center more-25-margin-bottom">
  <select onChange="window.location.href=this.value" class="btn btn-secondary-dark-down"
          style="width:100%;">
    <option  disabled selected value>Category</option>
    <option value="spilling_the_beans-tasting">tasting</option>
    <option value="../../home">home page</option>
  </select>
</div>
{% elsif page.class == "spilling_the_beans_cat1" %}
<div class="text-center more-25-margin-bottom">
  <select onChange="window.location.href=this.value" class="btn btn-secondary-dark-down"
          style="width:100%;">
    <option  disabled selected value>tasting</option>
    <option value="spilling_the_beans">Category</option>
    <option value="../../home">home page</option>
  </select>
</div>
{% elsif page.class == "spilling_the_beans_cat2" %}
<div class="text-center more-25-margin-bottom">
  <select onChange="window.location.href=this.value" class="btn btn-secondary-dark-down"
          style="width:100%;">
    <option  disabled selected value>Home page</option>
    <option value="spilling_the_beans">Category</option>
    <option value="../../home">tasting</option>
  </select>
</div>
{% else %}
{% endif %}
<div class="box-blog more-25-padding-top mobile-remove">
  <h4 class="text-secondary-darker">Most Popular</h4>
  {% for post in blog offset:0 limit:5 %}
  <a href="{{ post.url }}" class="popular-posts">
    <div class="blog-posts more-25-margin-bottom">
      <p class="text-primary-blue more-10-margin-top font-size-14 uppercase">{{post.date-shown}}</p>
      <p class="font-size-16 bold text-secondary-darker">{{post.title}}</p>
    </div>
  </a>
  {% endfor %}
</div>