<div class="text-center more-25-margin-bottom">
  <a href="#" class="btn btn-secondary-dark-down" style="width: 100%;">Categories</a>
</div>
<div class="box-blog more-25-padding-top">
  <h4 class="text-secondary-darker">Most Popular</h4>
  {% for post in blog %}
  <div class="blog-posts more-25-margin-bottom">
    <p class="text-primary-blue more-10-margin-top font-size-14">{{post.date-shown}}</p>
    <p class="font-size-16 bold text-secondary-darker">{{post.title}}</p>
  </div>
  {% endfor %}
</div>