<section class="section-home-4 bgbox-lightgray line-top  more2-padding-top more-padding-bottom">
  <div class="container text-center animate slide-in-from-left">
    <div class="row sm-gutter compensate-m">
      <div class="col-md-12">
        <h3 class=" h4 text-secondary-darker text-center-mobile more-10-margin-bottom">
          Most Read
        </h3>
      </div>
    </div>

    <div class="row sm-gutter compensate-m more-margin-top">
      <!-- Part 0 -->
      <div class="col-md-1 col-sm-0"></div>
      <!-- Part 1 -->
      <div class="col-md-2 col-sm-12 m content-padd-10">
        <div class="item-img-alt same-less-height-no-bg">
          <div class="img">
            <img src="../assets/img/bg/post_2.jpg" class="img-fluid">
          </div>
          <div class="content-less2-space text-left">
            <p class="more-10-margin-top font-size-12 more-10-margin-bottom text-primary-blue">AUGUST 17, 2018</p>
            <p class="font-size-14 bold zero-margin-bottom text-secondary-darker">Java Jargon Buster: our coffee chat, explained!</p>
          </div>
        </div>
      </div>
      <!-- Part 2 -->
      <div class="col-md-2 col-sm-12 m content-padd-10">
        <div class="item-img-alt same-less-height-no-bg">
          <div class="img">
            <img src="../assets/img/bg/post_3.jpg" class="img-fluid">
          </div>
          <div class="content-less2-space text-left">
            <p class="more-10-margin-top font-size-12 more-10-margin-bottom text-primary-blue">AUGUST 17, 2018</p>
            <p class="font-size-14 bold zero-margin-bottom text-secondary-darker">Java Jargon Buster: our coffee chat, explained!</p>
          </div>
        </div>
      </div>
      <!-- Part 3 -->
      <div class="col-md-2 col-sm-12 m content-padd-10">
        <div class="item-img-alt same-less-height-no-bg">
          <div class="img">
            <img src="../assets/img/bg/post_4.jpg" class="img-fluid">
          </div>
          <div class="content-less2-space text-left">
            <p class="more-10-margin-top font-size-12 more-10-margin-bottom text-primary-blue">AUGUST 17, 2018</p>
            <p class="font-size-14 bold zero-margin-bottom text-secondary-darker">Java Jargon Buster: our coffee chat, explained!</p>
          </div>
        </div>
      </div>
      <!-- Part 4 -->
      <div class="col-md-2 col-sm-12 m content-padd-10">
        <div class="item-img-alt same-less-height-no-bg">
          <div class="img">
            <img src="../assets/img/bg/post_1.jpg" class="img-fluid">
          </div>
          <div class="content-less2-space text-left">
            <p class="more-10-margin-top font-size-12 more-10-margin-bottom text-primary-blue">AUGUST 17, 2018</p>
            <p class="font-size-14 bold zero-margin-bottom text-secondary-darker">Java Jargon Buster: our coffee chat, explained!</p>
          </div>
        </div>
      </div>
      <!-- Part 5 -->
      <div class="col-md-2 col-sm-12 m content-padd-10">
        <div class="item-img-alt same-less-height-no-bg">
          <div class="img">
            <img src="../assets/img/bg/post_2.jpg" class="img-fluid">
          </div>
          <div class="content-less2-space text-left">
            <p class="more-10-margin-top font-size-12 more-10-margin-bottom text-primary-blue">AUGUST 17, 2018</p>
            <p class="font-size-14 bold zero-margin-bottom text-secondary-darker">Java Jargon Buster: our coffee chat, explained!</p>
          </div>
        </div>
      </div>
      <!-- Part 0 -->
      <div class="col-md-1 col-sm-0"></div>

    </div>

  </div>
</section>