<!-- Footer -->
<footer>
	<div class="container">
		<div class="row main">
				
			<div class="col-md-4 col-lg-5">
				<a class="navbar-brand" href="index.php">
					<img src={{site.data.footer.brand}} width="200" alt="Pact Coffee for Business">
				</a>
				<p class="secondary sm text-secondary-lighter">
					{{site.data.footer.text.top}}<br>
					{{site.data.footer.text.bottom}}
				</p>
			</div>
			
			<div class="col-md-8 col-lg-7">
				<div class="row">
		
					<div class="col-md-5 col-xl-6">
						<ul class="menu">
							<li><a href="/home">Home</a></li>
							<li><a href="/how_it_works">How It Works</a></li>
							<li><a href="/our_story">Our Story</a></li>
							<li><a href="/machines">Machines</a></li>
							<li><a href="/pricing">Pricing</a></li>
							<li><a href="/spilling_the_beans">Spilling The Beans</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="#">Pact for Home</a></li>
						</ul>
					</div>

					<div class="col-md-6 col-lg-6">
						<p class="bold text-secondary-lighter">
							Call us
							<a href={{site.data.general_info.phone.link}}>
								{{site.data.general_info.phone.number}}</a>
						</p>
						<p class="bold text-secondary-lighter">
							Email us
							<a href="{{site.data.general_info.email.link}}">
								{{site.data.general_info.email.name}}
							</a>
						</p>                
						<ul class="social">
							<li>
								<a href={{site.data.footer.facebook.link}}>
									<img src={{site.data.footer.facebook.image}} width="20" height="20">
								</a>
							</li>
							<li>
								<a href={{site.data.footer.twitter.link}}>
									<img src={{site.data.footer.twitter.image}} width="20" height="20">
								</a>
							</li>
							<li>
								<a href={{site.data.footer.linkedin.link}}>
									<img src={{site.data.footer.linkedin.image}} width="20" height="20">
								</a>
							</li>
							<li>
								<a href={{site.data.footer.instagram.link}}>
									<img src={{site.data.footer.instagram.image}} width="20" height="20">
								</a>
							</li>
						</ul>
					</div>
						
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="credits">
					<div class="row">
						<div class="col-md-6">
							<p class="xs bold text-secondary-lighter">© Pact Coffee For Business 2018. All Rights Reserved.</p>
						</div>
						<div class="col-md-6">
							<ul>
								<li><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Cookie Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

