<!-- Footer -->
<footer>
	<div class="container">
		<div class="row main">
				
			<div class="col-md-4 col-lg-5">
				<a class="navbar-brand" href="index.php">
					<img src="assets/img/brand/brand.png" width="200" alt="Pact Coffee for Business">
				</a>
				<p class="secondary sm text-secondary-lighter">
					A cost-effective way to facilitate team bonding.<br>
					Show your employees that they’re valued.
				</p>
			</div>
			
			<div class="col-md-8 col-lg-7">
				<div class="row">
		
					<div class="col-md-5 col-xl-6">
						<ul class="menu">
							<li><a href="#">Home</a></li>
							<li><a href="#">How It Works</a></li>
							<li><a href="#">Our Story</a></li>
							<li><a href="#">Machines</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Spilling The Beans</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Pact for Home</a></li>
						</ul>
					</div>

					<div class="col-md-6 col-lg-6">
						<p class="bold text-secondary-lighter">
							Call us
							<a href="tel:020 3936 3316">020 3936 3316</a>
						</p>
						<p class="bold text-secondary-lighter">
							Email us
							<a href="mailto:business@pactcoffee.com">business@pactcoffee.com</a>
						</p>                
						<ul class="social">
							<li><a href="#"><img src="assets/img/icons/white/fb.svg" width="20" height="20"></a></li>
							<li><a href="#"><img src="assets/img/icons/white/tw.svg" width="20" height="20"></a></li>
							<li><a href="#"><img src="assets/img/icons/white/ld.svg" width="20" height="20"></a></li>
							<li><a href="#"><img src="assets/img/icons/white/ig.svg" width="20" height="20"></a></li>
						</ul>
					</div>
						
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="credits">
					<div class="row">
						<div class="col-md-6">
							<p class="xs bold text-secondary-lighter">© Pact Coffee For Business 2018. All Rights Reserved.</p>
						</div>
						<div class="col-md-6">
							<ul>
								<li><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Cookie Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

