<!-- Javascript -->
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="assets/js/jquery/jquery.easing.js"></script>
<script src="assets/js/jquery/jquery.swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="assets/js/app.js"></script>

<script>
jQuery(function($) {
  var mySwiper = new Swiper(".swiper-container", {
    pagination: ".swiper-pagination",
    nextButton: ".swiper-button-next",
    prevButton: ".swiper-button-prev",
    paginationClickable: true,
    spaceBetween: 50,
    centeredSlides: true,
    autoplay: 10000,
    autoplayDisableOnInteraction: true,
    loop: false
  });

  console.log("a", mySwiper);

  $(".swiper-container").on("focusout", function() {
    setTimeout(function() {
      if ($(this).find(":focus").length === 0) {
        mySwiper.startAutoplay();
        console.log("focusout, startAutoplay");
      }
    }, 100);
  });

  $(document).on("touchmove", function() {
    mySwiper.startAutoplay();
    console.log("touchmove, startAutoplay");
  });
});

$(function() {
  $("*[data-toggle]").click(function() {
    $("#" + $(this).attr("data-toggle")).toggle();
    //$('#'+$(this).attr('data-toggle')).classList.toggle('collapsed');
    document
      .querySelector(".swiper-container.collapsible")
      .classList.toggle("collapsed");

    return false;
  });
});

$(function() {
  $("#accordion").accordion({
      collapsible: true
  }); 
});

$(function() {
  $("#accordion2").accordion({
      collapsible: true
  }); 
});

$(function() {
  $("#accordion3").accordion({
      collapsible: true
  }); 
});
  </script>