<!-- Javascript -->
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../../assets/js/jquery/jquery.easing.js"></script>
<script src="../../assets/js/jquery/jquery.swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="../../assets/js/app.js"></script>

<script>
var user_ip = "not caught"
document.addEventListener('DOMContentLoaded', function() {
  $.getJSON('https://jsonip.com/?callback=?', function(data) {
   user_ip = data.ip
  })
}, false);
</script>

<script>
    if ($('.swiper-container').length > 0) { //some-slider-wrap-in
      let swiperInstances = [];
      $(".swiper-container").each(function(index, element){ //some-slider-wrap-in
          const $this = $(this);
          $this.addClass("instance-" + index); //instance need to be unique (ex: some-slider)
          $this.parent().find(".swiper-pagination").addClass("pagination-" + index);
          $this.parent().find(".swiper-button-prev").addClass("prev-" + index); //prev must be unique (ex: some-slider-prev)
          $this.parent().find(".swiper-button-next").addClass("next-" + index); //next must be unique (ex: some-slider-next)
          swiperInstances[index] = new Swiper(".instance-" + index, { //instance need to be unique (ex: some-slider)
              // your settings ...
              navigation: {
                  prevEl: ".prev-" + index,  //prev must be unique (ex: some-slider-prev)
                  nextEl: ".next-" + index, //next must be unique (ex: some-slider-next)
              },
              pagination: {
                  el: '.pagination-' + index,
                  type: 'bullets',
                  clickable: true
              },
          });
      });

      // Now you can call the update on a specific instance in the "swiperInstances" object
      // e.g.
      swiperInstances[3].update();
      //or all of them
      setTimeout(function () {
          for (const slider of swiperInstances) {
              slider.update();
          }
      }, 50);
  }
  </script>

  <script>
  $(function() {
    $("#accordion").accordion({
      heightStyle: "content",
      //   active: false,
      collapsible: true
    });
    $("#accordion2").accordion({
      heightStyle: "content",
      collapsible: true
    });
    $("#accordion3").accordion({
      heightStyle: "content",
      collapsible: true
    });
  });
    </script>

<script>

// handle click and sending form data
$('#submit_button').on("click", function(){
  // Form ids associated with pathname
const formIDS = new Map([
  ['/', 'd27d6015-4f87-49d1-bf38-bd9707dba52d'],
  ['/home', 'd27d6015-4f87-49d1-bf38-bd9707dba52d'],
  ['/how_it_works', '81deeed6-ba7d-4f70-ba2a-2a56c6c0b5f1'],
  ['/our_story', 'e5316853-3689-40d8-bc33-2a0b28286a13'],
  ['/machines', '1d0358d8-5583-4b96-8b05-9c6cbb582915'],
  ['/pricing', '84dd217d-9c47-442f-bc9d-32d260ae9afc'],
  ['/contact', 'f578e4db-d5f1-4a68-a54a-ff9d72d7e40e'],
]);
  // find information
  const email = $('#email').val()
  const from_page = window.location.pathname
  const formID = formIDS.get(from_page)
  //set request params
  const url = `https://forms.hubspot.com/uploads/form/v2/2941246/${formID}`
  const data = {
  name: $('#full_name').val(),
  email:email,
  phone: $('#phone_nr').val(),
  company: $('#company_name').val(),
  number_of_staff: $('#nr_of_staff').val(),
  how_can_we_help_you_: $('#how_can_we_help').val(),
  free_coffee_tasting: $('#checkbox-1').prop("checked"),
  'hs_context': JSON.stringify({
        "ipAddress": user_ip,
        "pageUrl": window.location.href,
        "pageName": from_page,
    }),
  }

    $.ajax({
        url: url,
        type: "POST",
        crossDomain: true,
        dataType: "json",
        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
        data: data,
        success: function(response) {
            console.log(response); // D-FORGET redirect
        },
        error: function(xhr, status) {
          console.log(xhr); // D-FORGET redirect
        }
    });

  })

  </script>


<!-- <div class="lunchbox">
  <div id="swiper1" class="swiper-container">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
      </div>
      <div class="swiper-slide">
      </div>
      <div class="swiper-slide">
      </div>
      <div class="swiper-slide">
      </div>

    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div id="js-prev1" class="swiper-button-prev"></div>
  <div id="js-next1" class="swiper-button-next"></div>

</div> -->