  <div class="row animate slide-in-from-top">
    <div class="col text-center">
      <p class="xs bold text-secondary-lightest no-m-bot">trusted by</p>
    </div>
  </div>
  <div class="row animate slide-in-from-top">
    <div class="col">
      <div class="swiper brands">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <!--imgs -->
            <div class="swiper-slide">
              <img src="assets/img/brands/01.png" width="150" height="80" alt="Zopa" class="img-fluid">
            </div>
            <div class="swiper-slide">
              <img src="assets/img/brands/02.png" width="150" height="80" alt="Trainline" class="img-fluid">
            </div>
            <div class="swiper-slide">
              <img src="assets/img/brands/03.png" width="150" height="80" alt="TransferWise" class="img-fluid">
            </div>
            <div class="swiper-slide">
              <img src="assets/img/brands/04.png" width="150" height="80" alt="Just Eat" class="img-fluid">
            </div>
            <div class="swiper-slide">
              <img src="assets/img/brands/05.png" width="150" height="80" alt="Vice" class="img-fluid">
            </div>
            <div class="swiper-slide">
              <img src="assets/img/brands/06.png" width="150" height="80" alt="Monzo" class="img-fluid">
            </div>
            <div class="swiper-slide">
              <img src="assets/img/brands/07.png" width="150" height="80" alt="Graze" class="img-fluid">
            </div>
            <!-- end imgs -->
          </div>
        </div>
      </div>
    </div>
  </div>
