<!-- Navigation -->
<nav class="navbar">
  <div class="container">

    <a class="navbar-brand" href="../../home">
      <img src="../../assets/img/brand/brand.png" width="200" alt="Pact Coffee for Business">
      <img src="../../assets/img/brand/brand-2.png" width="200" alt="Pact Coffee for Business">
    </a>

    <button class="navbar-toggler" type="button">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav-wrapper">
        <ul class="navbar-nav top mobile-25-m-top">
          <li class="nav-item">
            {% if page.class == "homepage" %}<a class="nav-link text-secundary-darker mobile-log-item" href="#">
            {% else %}<a class="nav-link color-orange mobile-log-item" href="#">
            {% endif %}
            <span>Pact for Home</span></a>
          </li>
          <li class="nav-item">
            {% if page.class == "homepage" %}<a class="nav-link text-secundary-darker mobile-log-item" href="#">
            {% else %}<a class="nav-link color-orange mobile-log-item" href="#">
            {% endif %}
            <span>Login</span></a>
          </li>
        </ul>

        <ul class="navbar-nav">
          {% if page.class == "how_it_works" %}<li class="nav-item active-top">
          {% else %} <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="../../how_it_works"><span>How it Works</span></a>
          </li>
          {% if page.class == "our_story" %}<li class="nav-item active-top">
            {% else %} <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="../../our_story"><span>Our Story</span></a>
          </li>
          {% if page.class == "machines" %}<li class="nav-item active-top">
            {% else %} <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="../../machines"><span>Machines</span></a>
          </li>
          {% if page.class == "pricing" %}<li class="nav-item active-top">
            {% else %} <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="../../pricing"><span>Pricing</span></a>
          </li>
          {% if page.class == "spilling_the_beans" %}<li class="nav-item active-top">
            {% else %} <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="../../spilling_the_beans"><span>Spilling The Beans</span></a>
          </li>
          {% if page.class == "contact" %}<li class="nav-item active-top">
            {% else %} <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="../../contact"><span>Contact</span></a>
          </li>
        </ul>
      </div>
        
    </div>
      
  </div>
</nav>