<!-- Navigation -->
<nav class="navbar">
  <div class="container">

      <a class="navbar-brand" href="index.html">
          <img src="assets/img/brand/brand.png" width="200" alt="Pact Coffee for Business">
          <img src="assets/img/brand/brand-2.png" width="200" alt="Pact Coffee for Business">
      </a>

      <button class="navbar-toggler" type="button">
          <span></span>
          <span></span>
          <span></span>
      </button>

      <div class="navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav-wrapper">
              <ul class="navbar-nav top">
                  <li class="nav-item">
                    {% if page.class == "how_it_works" %}<a class="nav-link color-orange" href="#">
                    {% else %}<a class="nav-link" href="#">
                    {% endif %}
                    <span>Pact for Home</span></a>
                  </li>
                  <li class="nav-item">
                    {% if page.class == "how_it_works" %}<a class="nav-link color-orange" href="#">
                    {% else %}<a class="nav-link" href="#">
                    {% endif %}
                    <span>Login</span></a>
                  </li>
              </ul>

              <ul class="navbar-nav">
                  {% if page.class == "how_it_works" %}<li class="nav-item active-top">
                  {% else %} <li class="nav-item">
                  {% endif %}
                    <a class="nav-link" href="how_it_works.html"><span>How it Works</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><span>Our Story</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><span>Machines</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><span>Pricing</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><span>Spilling The Beans</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><span>Contact</span></a>
                  </li>
              </ul>
          </div>
          
      </div>
      
  </div>
</nav>