
<section class="section-home-4 bg-secondary-light more2-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 animate slide-in-from-left">
        <h2 class="text-secondary-darker">
            {{site.data.section_blue_boxes.top.title}}
        <span class="small-h1">{{site.data.section_blue_boxes.top.small_title}}</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-7 col-xl-6 animate slide-in-from-left">
        <p class="lg bold text-white">
          {{site.data.section_blue_boxes.top.subtitle}} 
          <!-- <br class="d-none d-lg-block"> -->
        </p>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-2 zero-padding-left animate slide-in-from-left">
          {% if page.class == "our_story" %}
            <a href="{{site.data.section_blue_boxes.top.button.our_story_link}}" 
              class="btn btn-secondary-dark full-width2 center-mobile">
              {{site.data.section_blue_boxes.top.button.text}}
            </a>
          {% else %}
            <a href="{{site.data.section_blue_boxes.top.button.link}}" 
              class="btn btn-secondary-dark full-width2 center-mobile">
              {{site.data.section_blue_boxes.top.button.text}}
            </a>
          {% endif %}
      </div>
    </div>

  </div>
</section>

{% if page.class == "how_it_works" or page.class == "our_story" %}
<section class="section-home-5 m-top-negative no-p-top">
  <div class="container ">
    <div class="row sm-gutter compensate-m">
        
      <div class="col-sm-12 col-lg-4 m animate slide-in-from-left">
        <div class="item-img-alt same-height">
          <div class="img2">
            <img src="{{site.data.section_blue_boxes.works_and_story.boxes.box1.image}}" class="img-fluid">
          </div>
          <div class="content">
            <h3 class="h5 primary m uppercase">{{site.data.section_blue_boxes.works_and_story.boxes.box1.title}}</h3>
            <p>{{site.data.section_blue_boxes.works_and_story.boxes.box1.text}}</p>
          </div>
        </div>
      </div>
      
      <div class="col-sm-12 col-lg-4 m animate slide-in-from-left">
        <div class="item-img-alt same-height">
          <div class="img2">
            <img src="{{site.data.section_blue_boxes.works_and_story.boxes.box2.image}}" class="img-fluid">
          </div>
            <div class="content">
              <h3 class="h5 primary m uppercase">{{site.data.section_blue_boxes.works_and_story.boxes.box2.title}}</h3>
              <p>{{site.data.section_blue_boxes.works_and_story.boxes.box2.text}}</p>
            </div>
        </div>
      </div>
      
      <div class="col-sm-12 col-lg-4 m animate slide-in-from-top">
        <div class="item-img-alt same-height">
          <div class="img2">
            <img src="{{site.data.section_blue_boxes.works_and_story.boxes.box3.image}}" class="img-fluid">
          </div>
          <div class="content">
            <h3 class="h5 primary m uppercase">{{site.data.section_blue_boxes.works_and_story.boxes.box3.title}}</h3>
            <p>{{site.data.section_blue_boxes.works_and_story.boxes.box3.text}}</p>
          </div>
        </div>
      </div>
        
    </div>
  </div>
</section>
{% else %}
<section class="section-home-5 m-top-negative no-p-top">
  <div class="container ">
    <div class="row sm-gutter compensate-m">
        
      <div class="col-sm-12 col-lg-4 m animate slide-in-from-left">
        <div class="item-img-alt same-height">
          <div class="img2">
            <img src="{{site.data.section_blue_boxes.home_machines_and_pricing.boxes.box1.image}}" class="img-fluid">
          </div>
          <div class="content">
            <h3 class="h5 primary m uppercase">{{site.data.section_blue_boxes.home_machines_and_pricing.boxes.box1.title}}</h3>
            <p>{{site.data.section_blue_boxes.home_machines_and_pricing.boxes.box1.text}}</p>
          </div>
        </div>
      </div>
      
      <div class="col-sm-12 col-lg-4 m animate slide-in-from-left">
        <div class="item-img-alt same-height">
          <div class="img2">
            <img src="{{site.data.section_blue_boxes.home_machines_and_pricing.boxes.box2.image}}" class="img-fluid">
          </div>
            <div class="content">
              <h3 class="h5 primary m uppercase">{{site.data.section_blue_boxes.home_machines_and_pricing.boxes.box2.title}}</h3>
              <p>{{site.data.section_blue_boxes.home_machines_and_pricing.boxes.box2.text}}</p>
            </div>
        </div>
      </div>
      
      <div class="col-sm-12 col-lg-4 m animate slide-in-from-top">
        <div class="item-img-alt same-height">
          <div class="img2">
            <img src="{{site.data.section_blue_boxes.home_machines_and_pricing.boxes.box3.image}}" class="img-fluid">
          </div>
          <div class="content">
            <h3 class="h5 primary m uppercase">{{site.data.section_blue_boxes.home_machines_and_pricing.boxes.box3.title}}</h3>
            <p>{{site.data.section_blue_boxes.home_machines_and_pricing.boxes.box3.text}}</p>
          </div>
        </div>
      </div>
        
    </div>
  </div>
</section>
{% endif %}
