
<section class="section-home-4 bg-secondary-light more2-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 animate slide-in-from-left">
        <h2 class="text-secondary-darker"
        >What makes our coffee so special?
        <span class="small-h1">(coffee related content)</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-7 col-xl-6 animate slide-in-from-left">
        <p class="lg bold text-white">
          We’re already fuelling hundreds of offices <br class="d-none d-lg-block">
          with some of the world’s most incredible coffees
        </p>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-2 zero-padding-left animate slide-in-from-left">
        <a href="#" class="btn btn-secondary-dark full-width2 center-mobile">
          Our sustainable approach</a>
      </div>
    </div>

  </div>
</section>

<section class="section-home-5 m-top-negative no-p-top">
<div class="container ">
  <div class="row sm-gutter compensate-m">
      
    <div class="col-sm-12 col-lg-4 m animate slide-in-from-left">
      <div class="item-img-alt same-height">
        <div class="img2">
          <img src="{{site.data.index.section5.box1.image}}" class="img-fluid">
        </div>
        <div class="content">
          <h3 class="h5 primary m uppercase">{{site.data.index.section5.box1.title}}</h3>
          <p>{{site.data.index.section5.box1.text}}</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-12 col-lg-4 m animate slide-in-from-left">
      <div class="item-img-alt same-height">
        <div class="img2">
          <img src="{{site.data.index.section5.box2.image}}" class="img-fluid">
        </div>
          <div class="content">
            <h3 class="h5 primary m uppercase">{{site.data.index.section5.box2.title}}</h3>
            <p>{{site.data.index.section5.box2.text}}</p>
          </div>
      </div>
    </div>
    
    <div class="col-sm-12 col-lg-4 m animate slide-in-from-top">
      <div class="item-img-alt same-height">
        <div class="img2">
          <img src="{{site.data.index.section5.box3.image}}" class="img-fluid">
        </div>
        <div class="content">
          <h3 class="h5 primary m uppercase">{{site.data.index.section5.box3.title}}</h3>
          <p>{{site.data.index.section5.box3.text}}</p>
        </div>
      </div>
    </div>
      
  </div>
</div>
</section>