<section class="section-home-6 bg-white">
	<div class="container">
		
		<div class="row">
			<div class="col-md-4 col-lg-5 col-xl-5 animate slide-in-from-left tablet-img-hide">
				<h2 class="text-secondary-darker">{{site.data.section_coffee_supply_chain.title}}</h2>
				<p class="lg text-secondary-dark">
					{{site.data.section_coffee_supply_chain.text}}
				</p>
				<img src={{site.data.section_coffee_supply_chain.image}} width="700" class="img-fluid illustration">
			</div>
			
			<div class="col-sm-12 col-lg-5 col-xl-5 animate slide-in-from-left 
										web-ls-img-hide mobile-img-hide">
				<div class="row">
					<div class="col-sm-7">
						<h2 class="text-secondary-darker">{{site.data.section_coffee_supply_chain.title}}</h2>
						<p class="lg text-secondary-dark">
							{{site.data.section_coffee_supply_chain.text}}
						</p>
					</div>
					<div class="col-sm-5">
						<img src={{site.data.section_coffee_supply_chain.image}} width="700" class="img-fluid illustration">
					</div>
				</div>
			</div>
			
			<div class="col-sm-12 col-lg-7 col-xl-6 offset-xl-1">
				<div class="row compensate-m-lg">
					<div class="float-img animate slide-in-from-top-big"></div>
					
					<div class="col-md-12 animate slide-in-from-left">
						<div class="item-supply m-lg">
							<h3 class="primary">{{site.data.section_coffee_supply_chain.coffee_stat_top.title}}</h3>
							<h6 class="primary">{{site.data.section_coffee_supply_chain.coffee_stat_top.subtitle}}</h6>
							
							<div class="row md-gutter">
								<div class="col-sm-5 col-md-5 col-xl-6">
									<img src="{{site.data.section_coffee_supply_chain.coffee_stat_top.image}}" width="500" class="img-fluid">
								</div>
								<div class="col-sm-7 col-md-7 col-xl-6">
									<ul>
										<li>
											<span class="bg-secondary-light"></span>
											<span>{{site.data.section_coffee_supply_chain.coffee_stat_top.color1.percentage}}</span>
											<span class="text-normal">
												{{site.data.section_coffee_supply_chain.coffee_stat_top.color1.of}}
											</span>
										</li>
										<li>
											<span class="bg-primary"></span>
											<span>{{site.data.section_coffee_supply_chain.coffee_stat_top.color2.percentage}}</span>
											<span class="text-normal">
												{{site.data.section_coffee_supply_chain.coffee_stat_top.color2.of}}
											</span>
										</li>
										<li>
											<span class="bg-secondary-dark"></span>
											<span>{{site.data.section_coffee_supply_chain.coffee_stat_top.color3.percentage}}</span>
											<span class="text-normal">
												{{site.data.section_coffee_supply_chain.coffee_stat_top.color3.of}}
											</span>
										</li>
										<li>
											<span class="bg-secondary-darker"></span>
											<span>{{site.data.section_coffee_supply_chain.coffee_stat_top.color4.percentage}}</span>
											<span class="text-normal">
												{{site.data.section_coffee_supply_chain.coffee_stat_top.color4.of}}
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
						
					<div class="col-md-12 animate slide-in-from-left">
						<div class="item-supply m-lg">
							<h3 class="primary">{{site.data.section_coffee_supply_chain.coffee_stat_bottom.title}}</h3>
							<h6 class="primary">{{site.data.section_coffee_supply_chain.coffee_stat_bottom.subtitle}}</h6>
							
							<div class="row md-gutter">
								<div class="col-sm-5 col-md-5 col-xl-6">
									<img src={{site.data.section_coffee_supply_chain.coffee_stat_bottom.image}} width="500" class="img-fluid">
								</div>
								<div class="col-sm-7 col-md-7 col-xl-6">
									<ul>
										<li>
											<span class="bg-secondary-lightest"></span>
											<span>{{site.data.section_coffee_supply_chain.coffee_stat_bottom.color1.percentage}}</span>
											<span class="text-normal">
												{{site.data.section_coffee_supply_chain.coffee_stat_bottom.color1.of}}
											</span>
										</li>
										<li>
											<span class="bg-primary"></span>
											<span>{{site.data.section_coffee_supply_chain.coffee_stat_bottom.color2.percentage}}</span>
											<span class="text-normal">
												{{site.data.section_coffee_supply_chain.coffee_stat_bottom.color2.of}}
											</span>
										</li>
											<li>
											<span class="bg-secondary-light"></span>
											<span>{{site.data.section_coffee_supply_chain.coffee_stat_bottom.color3.percentage}}</span>
											<span class="text-normal">
												{{site.data.section_coffee_supply_chain.coffee_stat_bottom.color3.of}}
											</span>
										</li>
										<li>
											<span class="bg-secondary-dark"></span>
											<span>{{site.data.section_coffee_supply_chain.coffee_stat_bottom.color4.percentage}}</span>
											<span class="text-normal">
												{{site.data.section_coffee_supply_chain.coffee_stat_bottom.color4.of}}
											</span>
										</li>
										<li>
											<span class="bg-secondary-darker"></span>
											<span>{{site.data.section_coffee_supply_chain.coffee_stat_bottom.color5.percentage}}</span>
											<span class="text-normal">
												{{site.data.section_coffee_supply_chain.coffee_stat_bottom.color5.of}}
											</span>
										</li>
									</ul>
								</div>
										
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>