<section class="section-home-3 half full-height half-bg-2 text-center">
  <div class="container half-content animate slide-in-from-left">
    <div class="row top">
      <div class="col-lg-6">
        <h2 class="text-secondary-darker">{{site.data.section_swiper_orange.section.title}}</h2>
      </div>
    </div>
      
    <div class="row content">
      <div class="col-lg-6">
        <div class="swiper testimonials fade">
          <div class="swiper-container">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <quote class="text-secondary-darker">
                  {{site.data.section_swiper_orange.section.slide1.text}}
                  <span>{{site.data.section_swiper_orange.section.slide1.bold_text}}</span>
                </quote>
                <ul class="star-rating">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
                
              <div class="swiper-slide">
                <quote class="text-secondary-darker">
                  {{site.data.section_swiper_orange.section.slide2.text}}
                  <span>{{site.data.section_swiper_orange.section.slide2.bold_text}}</span>
                </quote>
                <ul class="star-rating">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
                
              <div class="swiper-slide">
                <quote class="text-secondary-darker">
                  {{site.data.section_swiper_orange.section.slide3.text}}
                  <span>{{site.data.section_swiper_orange.section.slide3.bold_text}}</span>
                </quote>
                <ul class="star-rating">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
              </div>
                
            </div>
          </div>                        
        </div>
      </div>
    </div>
      
    <div class="row footer">
      <div class="col-lg-6">
        <div class="swiper-pagination testimonials"></div>
      </div>
    </div>
  </div>
  
  <div class="container half-bg">
    <div class="row">
      <div class="col-lg-6 offset-lg-6 animate slide-in-from-left">
        <div class="content">
          <img src="{{site.data.section_swiper_orange.section.image}}" width="700" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

{% if page.class == "homepage" %}
  <div></div>
{% else %}
  <section class="section-home-3 mobile-add more4-padding-bottom">
    <div class="container mobile-add">
      <div class="row">
        <div class="col-lg-12 offset-lg-12 col-sm-12">
          <div class="content">
            <img src="{{site.data.section_swiper_orange.section.image}}" width="300" 
                  class="img-fluid mobile-add more2-margin-top" style="margin:auto;">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}